[2019-08-01 23:13] brotzky opened #1 "Create example of replacing logo"

[2019-08-01 23:14] brotzky opened #2 "Create example of replacing theme"

[2019-08-01 23:16] brotzky opened #3 "Allow for Markdown in Footer"

[2019-08-01 23:16] brotzky opened #4 "Allow for Markdown in Author bio"

[2019-08-01 23:17] brotzky opened #5 "Confirm "Copied" text should appear when using Share utility"

[2019-08-01 23:18] brotzky opened #6 "Logo Back Arrow in dark mode does stays black"

[2019-08-01 23:21] brotzky opened #7 "Add the X on article posts as well as the rounded corners"
See design:
https://www.figma.com/file/FifDf1g8AKnrmJvCMqKY95/Gatsby-Theme-%E2%80%93-Novela?node-id=11%3A954

[2019-08-02 00:30] brotzky opened #8 "Trying to use Novela but are having a hard time? We're here to help!"
Feel free to ask any general questions you have about Novela here and we'll be sure to answer it.

[2019-08-02 06:34] johnletey commented on #8
@brotzky I love the Novela theme and I absolutely can't wait to use it for my blog! I was just curious, do you happen to support co-authoring in Novela? I know that you have support for different authors for different posts, but can you pass an array of names to the frontmatter?

[2019-08-02 07:20] alfieqashwa opened #9 "Line Highlighting is not working"
novela-theme does not have line-highlight like ==> https://twitter.com/kentcdodds/status/1110276893293473792
could you add that? or show me how to customize using theme-ui ?

thanks

[2019-08-02 07:50] gagan0723 opened #10 "[Bug] CopyToClipboard button next to theme toggle button"
Clicking on CopyToClipboard button next to theme toggle button scrolls the page to very end on mobile devices. Both tested on Chrome and Safari for mobile.

![ScreenRecording_08-02-2019 09-44-33](https://user-images.githubusercontent.com/6944095/62353397-e05cf680-b50a-11e9-89cd-3a2614e7c6ac.gif)

[2019-08-02 10:28] michelem09 opened #11 "Error on develop"
If I try to `gatsby develop` I get:

[code]

[2019-08-02 10:29] michelem09 opened #12 "How to add authors"
I'm not sure how to add authors, what kind of file should it be? yaml?

[code]

[2019-08-02 10:31] johnletey commented on #12
@michelem09 Yes, it would be in YAML. Look at how they do it for the demo site: [`content/authors/authors.yml`](https://github.com/narative/gatsby-theme-novela-example/blob/master/content/authors/authors.yml)

[2019-08-02 10:34] michelem09 commented on #12
Cool, I didn't see the example, I will try with that for my other errors too.

[2019-08-02 10:34] #12 closed

[2019-08-02 17:05] brotzky commented on #8
@johnletey, yes, for sure.

Check out the example repository
https://github.com/narative/gatsby-theme-novela-example

Define multiple authors
https://github.com/narative/gatsby-theme-novela-example/blob/master/content/authors/authors.yml

and then reference them by `name` in articles!

https://github.com/narative/gatsby-theme-novela-example/blob/master/content/posts/2017-04-28-understanding-the-ga

[2019-08-02 17:11] brotzky commented on #11
Thanks for the report @michelem09.

Looks like we're not properly checking if there are no authors and posts and throwing a warning.
I'll build in proper fallbacks and warnings if you run the theme without an author and post.

[2019-08-02 17:12] brotzky commented on #10
Thanks @gagan0723, will take a look asap!

[2019-08-02 17:14] johnletey commented on #8
@brotzky So just to clarify ... in my front matter I'd have: `author: Dennis Brotzky, Thiago Costa`?

[2019-08-02 17:14] brotzky commented on #9
Nice catch, and definitely need to integrate this.

[2019-08-02 17:16] brotzky commented on #8
Ohhh, sorry. You mean applying multiple authors to a single post. I misunderstood your question.
This is not possible right now, but something we can introduce.

[2019-08-02 17:23] johnletey commented on #8
Would definitely love to have this feature!

[2019-08-02 20:16] mabasic commented on #8
I love this theme, but I am having issues finding the best way to use it.

I've done:

[code]

Then I ran into issue #11

Then I studied the [example repository](https://github.com/narative/gatsby-theme-novela-example) and I got it working by changing a lot of things in the starter template.

Now I am stuck at trying to change the logo.

Can the documentation be better? If I figure out how to chan

[2019-08-02 20:43] mabasic commented on #1
I've read [this](https://www.gatsbyjs.org/blog/2019-04-29-component-shadowing/) and the official documentation on component shadowing, but when I create this in my project:

[code]

and modify the `Logo.tsx` file, nothing changes.

Any idea what am I doing wrong?

[2019-08-02 20:52] brotzky commented on #8
Hey @mabasic! We were really constrained on time as we wanted to submit this by August 1st to qualify for a Gatsby Theme Jam competition.

I'm working on ironing out the initial setup issues and better documentation.

I'll also create better documentation on how to customize
- components (specifically logo)
- styles

[2019-08-02 21:08] mabasic commented on #8
@brotzky I see, I did not know that. Congrats on the theme btw. It is the best that I have seen so far.

[2019-08-03 00:41] brotzky commented on #8
@mabasic I've added instructions on how to add you own logo (along with better getting started instructions)

https://github.com/narative/gatsby-theme-novela#adding-your-logo

Let me know if you need help or have any questions! Thanks for using Novela.

[2019-08-03 01:12] brotzky commented on #11
@michelem09 could you try the new Getting Started instructions?
https://github.com/narative/gatsby-theme-novela#getting-started

It's not recommended to use this theme with any Gatsby starters.
Start from a blank folder!

[2019-08-03 23:40] brotzky commented on #1
you have to make sure you have it nested wthin @narative

https://github.com/narative/gatsby-theme-novela#adding-your-logo

[2019-08-03 23:43] #1 closed

[2019-08-03 23:43] #2 closed

[2019-08-04 05:18] michelem09 commented on #11
I think the getting started guide is better now and yes the problem was that I was trying with my starter, from scratch it works fine.

[2019-08-04 05:18] #11 closed

[2019-08-04 07:53] brotzky opened #14 "[Bug] Mobile scrolling on on article post jumps"
When scrolling on mobile in some browsers it jumps unexpectedly.

Specifically on Firefox Focus iOS

[2019-08-04 08:20] brotzky commented on #8
Going to close the general questions thread and kindly ask everyone to create individual issues if they run into something or have a question.

[2019-08-04 08:20] #8 closed

[2019-08-04 08:53] mehtavishwa30 opened #15 "[Error][Docs] Default column mismatch under Data Model"
# Description

Noticed a small error in documentation and would like to make a PR to help correct it.

## Note

Under the `Data Model` section, the Default column values for `contentAuthors` and `contentPosts` have been swapped as seen in the screenshot below:

## Current

![Screen Shot 2019-08-04 at 2 15 31 PM](https://user-images.githubusercontent.com/32997409/62421653-e72e6980-b6c2-11e9-9928-7d

[2019-08-04 14:28] brotzky commented on #15
It has been fixed!

[2019-08-04 14:28] #15 closed

[2019-08-04 19:36] keyfer opened #17 "[Bug] FooterGradient"
Footer gradient causes some unexpected transitions in colour:
![My+first+post+using+Novela+by+Narative+2019-08-04+15-35-33](https://user-images.githubusercontent.com/15006490/62428269-aee05880-b6cd-11e9-8c11-43c90d404a8b.jpg)

[2019-08-04 20:46] brotzky commented on #17
Fixed in latest, will release in 1-2 days.

[2019-08-04 21:07] brotzky commented on #10
@gagan0723 could you let me know what shows in the logs?
I can't reproduce this on iOS Safari or Chrome (Pixel 3, iPhone 7 and iPhone X)

[2019-08-04 21:32] brotzky commented on #9
v0.0.4 now has syntax highlighting

Thanks @alfieqashwa.

[2019-08-04 21:32] #9 closed

[2019-08-04 21:32] brotzky commented on #17
v0.0.4 now fixed gradient issue

[2019-08-04 21:32] #17 closed

[2019-08-04 21:32] #6 closed

[2019-08-04 22:05] gagan0723 commented on #10
I don't think its possible to access console on mobile devices. It works fine on all mobile viewports when tested from within `devtools`.

I just gave it a shot once again on iphone 6, 7 and X and same issue.

Here's a gif from iphone X.

![RPReplay_Final1564956074](https://user-images.githubusercontent.com/6944095/62429853-92b3da00-b714-11e9-8e43-ed05653714f3.gif)

[2019-08-05 04:13] sw-yx commented on #14
😅 i wouldnt call this high priority, i thought this was a more general mobile issue until i tried on other browsers and found it was fine.

[2019-08-05 17:35] brotzky opened #18 "Copy Code to clipboard"

[2019-08-05 17:35] brotzky opened #19 "Multiple Authors for a single Post"

[2019-08-05 17:45] sw-yx opened #20 "multiple instances for the theme"
i want multiple paths:
![image](https://user-images.githubusercontent.com/6764957/62484035-3b9b1d00-b787-11e9-88ea-d600688c4c02.png)

but the build result gets the content from `content/posts` and outputs them to the path of `/writing/draft` which is real weird

we need to keep em separate somehow.

[2019-08-05 18:19] brotzky commented on #20
Interesting, I did some tests and for some reason they have the same `node.id`

[code]

This is causing Gatsby to override it since they store each node in a flat object based on the an `id` key.

Will investigate a bit more into why this happens and if it's something on our end or within Gatsby internals.

[2019-08-05 18:35] sw-yx commented on #20
i fixed it in my thing by essentially forking the whole thing: https://github.com/sw-yx/swyxdotio/commit/ad98a832faf84fe7f4b34b037cef5c2bd61d092b

we just need to remove some of these assumptions like all Articles belonging to the same instance, and also

[code]

is a hidden assumption i wasn't aware of that would have messed me up if i were doing some alternative filestructure

[2019-08-05 18:37] brotzky commented on #20
Ah right, good catch. I forgot to get back to that one.

Thanks for all the feedback and help so far, @sw-yx.

[2019-08-05 18:49] brotzky commented on #20
Fixed contentPath assumption
https://github.com/narative/gatsby-theme-novela/commit/d1da1d7a5aa91cd65f41342bd08acb4e101589ff#diff-b15bca3c1dcd1f4ca9063ebac70e66e1R21

[2019-08-05 19:26] #18 closed

[2019-08-05 19:26] #4 closed

[2019-08-05 19:26] #3 closed

[2019-08-05 22:05] ChristopherBiscardi opened #22 "Shadowing UX"
Hey, on stream I dove into [the shadowing issues](https://twitter.com/swyx/status/1157922777992761344) @sw-yx mentioned on twitter. I wasn't able to find anything wrong with shadowing itself (`.tsx` files can be shadowed by `.js` and `.tsx` files). As seen in this screenshot:

![image](https://user-images.githubusercontent.com/551247/62497939-59ba4a80-b792-11e9-9ef1-4e4e5159933b.png)

I did find a

[2019-08-05 22:09] sw-yx commented on #22
oh nice! idk i dont think that was it, i was trying to get rid of https://github.com/narative/gatsby-theme-novela/blob/master/src/sections/articles/Articles.Grid.Tiles.tsx and i ejected it and it didnt work. i'll try this again when i get back to work on it

[2019-08-06 01:14] brotzky commented on #22
Yes, this is very true and a great point. The Headings, Links, etc need to be refactored to be more  `theme` friendly. Right now there are a couple aspects that would be annoying to shadow, but now that I understand themes a lot more and have shadowed it's evident what needs updating.
Will work on that as a priority.

[2019-08-06 01:16] brotzky commented on #10
You get access to devtools if you're using Safari on iOS and plugin your phone into your Apple laptop and open desktop Safari.
https://medium.com/@mattcroak718/debugging-your-iphone-mobile-web-app-using-safari-development-tools-71240657c487

As we can't reproduce the error it's lower priority for us right now. If you can get some more debugging details we'll be able to resolve it. No rush and no w

[2019-08-06 05:33] brotzky commented on #22
Refactored a lot of the components that are within MDX body. They're now individual components passed in so it's easier to shadow.
Will release in 0.0.6-7

https://github.com/narative/gatsby-theme-novela/commit/83246d7b97f0bc5382e6e9f0b7e4f2285f915759#diff-8dcb7564583b9542657d624cc6bc8c1aR21

[2019-08-06 16:12] #22 closed

[2019-08-06 16:18] scottgallant opened #23 "Open Source License?"
This is super impressive. Are there any plans to add a common open source license?

[2019-08-06 16:52] brotzky commented on #23
https://github.com/narative/gatsby-theme-novela/blob/master/package.json#L7

I'll add it in. It's only defined in the `package.json`.

[2019-08-06 16:55] brotzky commented on #23
https://github.com/narative/gatsby-theme-novela/pull/24

[2019-08-06 16:55] #23 closed

[2019-08-06 17:11] ChristopherBiscardi commented on #20
That doesn't sound like something that should be solved by instancing themes (which implicitly instances styles, logic, etc). That sounds like the theme itself can add two filesystem sources instead.

`contentPosts: []`

[2019-08-06 18:39] sw-yx commented on #20
but then its not just filesystem logic, i’d need them to be named differently. maybe one is Article and the other is Drafts and another is Talks and so on? idk thats what i was gonna do on my thing

[2019-08-06 18:50] gagan0723 commented on #10
I have tried connecting to the devtools using Safarin on iOS.
When clicking the button nothing logs to the console. Same issue though.

[2019-08-06 18:50] #10 closed

[2019-08-06 19:50] johnletey opened #25 "[Feature request] Code blocks, Tags, and Author's page"
I have quite a few new features that I would love to have added!

1. Language titles: Like Gatsby does on their site, I want to be able to have a banner to display the current language of the code block
2. Copy: Again, like Gatsby does on their site, I want to be able to copy the code in a code block with a click of a button!

For the above two points you can refer to this Gatsby PR: https://githu

[2019-08-06 19:56] johnletey opened #26 "Highlighting doesn't work on scrollable code blocks"
@brotzky I'm running into the same problem outlined here: https://github.com/kentcdodds/kentcdodds.com/pull/116

Fix: https://github.com/kentcdodds/kentcdodds.com/commit/1be8b0b08ab7e55a9658fc86ed5be6599d67c2bf

[2019-08-06 20:23] johnletey commented on #25
And also:

5. Code titles: Titles for code blocks

[2019-08-06 20:57] brotzky commented on #10
Hmmmmmm, really weird. I'll keep this one top of mind but it's going to be hard to fix it. Really appreciate checking the logs.

[2019-08-06 21:05] brotzky commented on #25
Thanks for the ideas, John. (btw, working towards co-authoring right now)

1, 2 & 5. This is possible and something that would be nice with code blocks.

3 & 4. Tags/Categories & Author pages. As people use the theme and it matures it'll be a good idea to add it in. Will add it to the roadmap. I'm not sure we'll be able to get to immediately.

[2019-08-07 01:12] brotzky commented on #19
@johnletey

Multiple authors for a single post is now supported
https://github.com/narative/gatsby-theme-novela/commit/caf64880f8b89c63c6b4385a50d15a4d3e012408

Will be in next release.

[2019-08-07 01:13] brotzky commented on #26
@johnletey I tried the fix in the PR but doesn't seem to work. Will get back to it some other time.

[2019-08-07 02:47] sw-yx opened #27 "add changelog"
this project is coming along quickly. bit hard to keep track of changes. will you consider adding a changelog? you can use tools like `auto-changelog`, and also only making PR's instead of direct commits may help. totally up to you of course.

[2019-08-07 03:01] sw-yx commented on #22
thanks guys. i dont think my shadowing issue is at all to do with MDX. so i'll reopen and tag you and i have a repro now.

[2019-08-07 03:02] sw-yx opened #28 "Shadowing UX Redux"
hey @christopherbiscardi and @brotzky

so here's my repro: https://github.com/sw-yx/swyxdotio/tree/brokenShadowingReport

(note the branch name)

if you clone that and `yarn` and `yarn start` you'll see

![image](https://user-images.githubusercontent.com/6764957/62591635-3da3cf80-b89e-11e9-92d2-5114127c318c.png)

however i have this exact file ejected using the current `gatsby-theme` version

i th

[2019-08-07 03:14] brotzky commented on #27
Good call. Right now we've bene optimizing for speed since it's still early days and there are a lot of little fixes to be made.
Probably within 1-2 days I'll move to PRs and look into change log tools.
Appreciate all the feedback and suggestions so far.

[2019-08-07 03:14] #27 closed

[2019-08-07 03:18] sw-yx opened #30 "strict typing"
components cant be ejected properly because the types are way too loose by default. i believe bc youre not using strict mode.  is this something you can do or want help on?

[2019-08-07 03:32] ChristopherBiscardi commented on #28
This isn't a shadowing issue. some of your content has a `hero` and some of it doesn't, resulting in `null` for `article.hero`.

See here that it happens without shadowing:

![Screen Shot 2019-08-06 at 8 20 43 PM](https://user-images.githubusercontent.com/551247/62592757-345c3800-b889-11e9-9e88-98331baeaf8c.png)

See here the null field in the data:

![Screen Shot 2019-08-06 at 8 27 57 PM](https:/

[2019-08-07 03:37] brotzky commented on #28
Nice investigation, Chris. 👌

On a side note, I can allow that code to fail more gracefully if there is no provided hero image.

[2019-08-07 03:39] brotzky commented on #30
To be honest it's been low on the priority list throughout the project. One of the latest commits fixed some types and your PR definitely fixed a silly mistake.

I'm open to help on the types going forward. Will also try to be more conscious and proactive of it going forward.

[2019-08-07 03:39] #30 closed

[2019-08-07 03:43] sw-yx commented on #28
you havent told me something i dont know yet. as you can see i shadowed specifically to https://github.com/sw-yx/swyxdotio/blob/brokenShadowingReport/src/%40narative/gatsby-theme-novela/sections/articles/Articles.Grid.Tiles.tsx#L68-L70 get rid of the hero image dependency and expected it to work. why does shadowing in this case not work?

[2019-08-07 04:16] sw-yx opened #31 "[proposal] optional hero images"
i hit a hard stop on my time spent trying and failing to shadow things (as per #28) to remove the image dependency in user land 😅 have to fix in the theme itself.

here is my proposal for optional images:

- user passes in a theme option like `optionalImages: true`
- if `optionalImages: true`, then on the main page, no images are shown, just titles and text. this keeps the design somewhat consiste

[2019-08-07 04:35] sw-yx commented on #20
closing as low pri, other stuff i've filed is way higher imo

[2019-08-07 04:35] #20 closed

[2019-08-07 05:13] brotzky commented on #31
I discussed this with @tcostaco and he said without images the design would have to be re-done. So, for this theme, we don't think it would be realistic to add an `optionalImage` option  at this time -- it compromises design too much.

Something we have spoken about internally creating a simpler blog that's as refined as Novela but without the need for images. Maybe that's in the form of shadowing

[2019-08-07 05:22] sw-yx commented on #31
totally get you. please stick to your vision, dont mind me.

[2019-08-07 05:22] #31 closed

[2019-08-07 09:04] johnletey commented on #19
Thank you so much @brotzky!

[2019-08-07 10:08] alfieqashwa opened #32 "Request Icon Language on top left of the code"
I see the Copy Icon and it would be perfect if there's also has Language Icon on the top left.

![Firefox_Screenshot_2019-08-07T10-06-51 695Z](https://user-images.githubusercontent.com/15263927/62614821-58c21e00-b936-11e9-9fba-87cdfa66f3b2.png)

I really like to help but i'm still noobs about git and how to conrtibute.
I already customize it at my repo https://github.com/alfieqashwa/alfieqashwa.me

[2019-08-07 10:25] johnletey commented on #32
@alfieqashwa I have already requested this in #25 ... and @brotzky said he will start working on the code block language and also code block title features!

[2019-08-07 10:32] #32 closed

[2019-08-07 10:35] johnletey commented on #19
@brotzky There seems to be a weird thing going on with the avatars of the multiple authors! It seems as though the avatars are becoming square and then going back to circle. I've attached a recording:

![Kapture 2019-08-07 at 11 32 48](https://user-images.githubusercontent.com/30328854/62616433-644a2080-b907-11e9-933d-bbd9a764b4c9.gif)

[2019-08-07 10:44] johnletey opened #33 "Logo isn't centred"
When I have a logo w/ height 32px, it's not centred with the back arrow, even though it's in the range of recommended heights:

![IMAGE 2019-08-07 11:40:41](https://user-images.githubusercontent.com/30328854/62616727-2f8a9900-b908-11e9-89c2-983a4b9cd09f.jpg)

I had to shrink it down to 23px (the size of your logo in the source code) for it to be centred with the back arrow:

![IMAGE 2019-08-07 11:

[2019-08-07 11:05] johnletey commented on #33
On second thought though ... the logo looks really good on mobile:

<img src="https://user-images.githubusercontent.com/30328854/62618175-7af27680-b90b-11e9-872f-d3762d889110.png" height="500" />

To me though, it just looks tiny on desktop

[2019-08-07 11:06] johnletey commented on #25
@brotzky Copy doesn't look very good on mobile:

<img src="https://user-images.githubusercontent.com/30328854/62618265-b55c1380-b90b-11e9-9c23-dbc7282ba05d.png" height="500" />

[2019-08-07 14:24] alfieqashwa commented on #25
@johnletey
I already modified on https://story.alfieqashwa.me/testing
here in https://github.com/alfieqashwa/alfieqashwa.me/blob/master/src/%40narative/gatsby-theme-novela/components/Code/Code.Prism.tsx

I don't know yet how to contribute in github. sorry

[2019-08-07 14:31] johnletey commented on #25
@alfieqashwa By modified, do you mean that you fixed the mobile copy button appearance?

[2019-08-07 14:34] brotzky commented on #25
Yikes, will update. Moving fast right now.

[2019-08-07 14:37] alfieqashwa commented on #25
@johnletey no, not ye. I just added the Language Title.

[2019-08-07 14:42] johnletey commented on #25
I see @alfieqashwa ... let's see what @brotzky thinks about the design and whatnot

[2019-08-07 15:38] brotzky commented on #33
Ah, know the reason for this one. Will be up soon.

[2019-08-07 15:40] brotzky commented on #25
Wont be adding Language tags. This can be done through shadowing in the future.

Fixing mobile alignment bug.

[2019-08-07 15:43] johnletey commented on #25
1. Will you be adding the code titles?
2. Is there a way that I can "import" the package code instead of completely overriding everything, so that I don't become so outdated with the package?

Wonderful!

[2019-08-07 15:46] johnletey commented on #33
That's amazing @brotzky ... thanks so much!

[2019-08-07 16:03] brotzky commented on #19
Really strange! Going to check it out. Safari with the curve balls again.

[2019-08-07 16:03] johnletey commented on #19
Thanks so much!

[2019-08-07 16:05] brotzky commented on #19
@johnletey I can't seem to reproduce it on safari. Really strange bug.

Safari tests:
http://d.ntve.co/8Wu6XV

[2019-08-07 16:09] johnletey commented on #19
The screen recording doesn't seem to be loading ... but that is weird that you can't reproduce ... I'll ask my colleague on the project to see if he can reproduce (as he uses Safari)

[2019-08-07 16:13] brotzky commented on #19
@johnletey embedded the gif

[2019-08-07 16:15] johnletey commented on #19
Thanks @brotzky ... still super weird ... wonder what's happening on my computer

[2019-08-07 16:16] nikitavoloboev commented on #19
I can reproduce this as well and it shows like what @johnletey has.

When you hover over the thing it will jump from circle to square to circle and back.

![recording](https://user-images.githubusercontent.com/6391776/62639292-25cc5a00-b937-11e9-9635-4ebfa813e1e1.gif)

[2019-08-07 16:30] brotzky commented on #33
v0.0.9 should have a fix for this. Changed the implementation for the back arrow.
Let me know if it works for you.

[2019-08-07 16:30] johnletey commented on #33
Will do ... trying it out now!

[2019-08-07 16:31] brotzky commented on #25
v0.0.9 removes the copy button on mobile.

the default theme for code blocks we want to keep more minimal like those found on https://overreacted.io or http://kentcdodds.com

code titles will not be added by default to the code blocks (html, jsx, js, etc)

[2019-08-07 16:32] johnletey commented on #25
Understand ... thanks for working on this @brotzky!

[2019-08-07 16:34] brotzky commented on #19
Hoping v0.0.9 fixes this issue. I had to guess at the possible issue as I can't seem to reproduce it on my side.

[2019-08-07 16:36] johnletey commented on #19
Yes @brotzky ... just noticed that this is fixed in the new version!

[2019-08-07 16:40] #19 closed

[2019-08-07 16:44] johnletey commented on #33
So much better @brotzky ... thanks so much!

![Shot 2019-08-07 at 17 42 38](https://user-images.githubusercontent.com/30328854/62641178-f6b7e780-b93a-11e9-9c19-a8a061664c7e.jpg)

[2019-08-07 16:44] #33 closed

[2019-08-07 18:18] brotzky commented on #28
@sw-yx and @ChristopherBiscardi I've tried digging into this deeper this morning.

I've created a repo that shows shadowing working.
_but_ I could only get shadowing to work properly for the Grid and Rows when I removed the `React.context` from `Articles.Grid.js` and shadowed `templates/articles.template.js`

Pull down and run `master`. Shadowing is working here.
https://github.com/brotzky/novela-

[2019-08-08 00:11] ChristopherBiscardi commented on #28
That's a known issue unfortunately. hot-loading for new files doesn't work because they aren't being watched by webpack. It's on my list and I have some prototype code written for handling this on deletion, etc.

[2019-08-08 04:10] mwood23 opened #34 "Contributing: Disqus, Image Zooming"
Amazing work on the plugin, seriously. I was able to integrate this into my site in a couple hours, customizations and all. There were a couple missing features I was able to add thanks to Component Shadowing and would be happy to make a PR for them if you're interested in bringing them into the library.

## [Disqus comments](https://github.com/caldera-digital/platform/blob/2a9961d7cc3f84bb2d13c24

[2019-08-08 04:23] brotzky commented on #34
Wow! I love the site. I've shared it with our team and we're all really impressed.

I'll take a look through the examples. Right now Image Zooming looks really appealing. There's quite a bit I want to do with images within articles and zoom feels like a great addition.

As for Disqus, I think it would be great to have an option or component you can add to your site and it automatically integrates

[2019-08-08 05:09] tcostaco commented on #34
Whoa, this is amazing! I love how nicely everything integrates with your existing brand, too.

Thanks for the great suggestions, both Image Zooming and Disqus are 👌

Nice job!

[2019-08-08 15:35] sw-yx opened #35 "[Refactor] quick idea to make the articles.grid.tiles component not assume 6-8 nodes"
[code]

[2019-08-08 15:56] brotzky commented on #35
This is on my list of todos. I want to update how all the Templating works for the article lists.

[code]
Need to be refactored and made dynamic.
Awesome suggestion <3

[2019-08-08 16:08] sw-yx commented on #35
ya tbh i dont even like `<Grid>`. i would use grid row span {1 or 2} to assign grid item width, and then let css grid layout for you.

[2019-08-08 16:28] tcostaco commented on #25
I'll be working on author's page very soon. We'll keep you posted, @johnletey!

Thanks for all the suggestions, everyone!

[2019-08-08 16:39] johnletey commented on #25
awesome ... thank you so much @tcostaco!

[2019-08-08 22:13] kaseyhinton opened #37 "Grid and List Icon are reversed"
The List and Grid Icons are reversed. See the image below.

I have selected the grid icon but it is displaying the items in a list format.

![wrongicon](https://user-images.githubusercontent.com/20712428/62741211-612e5d80-b9f7-11e9-869c-fdec967b17d1.PNG)

[2019-08-08 22:33] #37 closed

[2019-08-08 22:33] kaseyhinton commented on #37
#38 Fixed

[2019-08-08 22:41] brotzky commented on #34
Image zooming in next release: https://github.com/narative/gatsby-theme-novela/pull/36

Disqus still needs more consideration. Looking at a possible config option. Don't think we will build it into core.

[2019-08-08 22:42] brotzky commented on #28
There's some funky stuff going on with shadowing. I'm not entirely sure what's happening but will wait for the spec to mature and revisit the issue with the article sections.

[2019-08-08 22:42] #28 closed

[2019-08-08 22:50] brotzky commented on #37
Yeah, small mishap in development. Fixed the icons :)

Thanks for the issues and PR! Appreciate the help.

[2019-08-08 23:01] brotzky commented on #5
Can't do as selection is gone so element position is lost.

[2019-08-08 23:01] #5 closed

[2019-08-08 23:01] #34 closed

[2019-08-08 23:10] brotzky commented on #26
https://github.com/narative/gatsby-theme-novela/commit/5cb0c25c67b75523988055c45e69b569b8264d2f

Will deploy in latest release

[2019-08-08 23:10] #26 closed

[2019-08-08 23:14] brotzky opened #39 "[Feature] Author's page"
Continues out of https://github.com/narative/gatsby-theme-novela/issues/25

- Author pages: Would love to have a link to an author page (e.g. https://example.com/author/john-doe) with all of their posts authored by them

Design preview: https://www.figma.com/file/FifDf1g8AKnrmJvCMqKY95/Gatsby-Theme-%E2%80%93-Novela?node-id=1202%3A1162

[2019-08-08 23:15] brotzky commented on #25
I've created a new issue just for Authors.

If you have any more suggestions please open a new issue.

[2019-08-08 23:15] #25 closed

[2019-08-09 03:33] brotzky opened #40 "[Bug] Offset Article Share to compensate for padding offset"

[2019-08-09 06:37] deadcoder0904 opened #42 "Change gatsby-mdx to gatsby-plugin-mdx"
I forked this repo & tried `yarn` & it threw this warning

[code]

I think I also heard somewhere they are moving from `gatsby-mdx` to `gatsby-plugin-mdx` slowly but surely :)

[2019-08-09 11:14] bravo-kernel opened #43 "[Feature] Front matter boolean for disabling hero image per post page"
It would be nice if we could optionally turn off the hero per page. E.g.

[code]
Should probably be `true` by default and when unspecified.

[2019-08-09 11:34] quaj opened #44 "[Bug] Post not change in webpage when write post"
When i had changed a post (index.mdx) gatsby noti rebuild. but go to webpage, nothing happend, affect to title, author, content, date

looks like the post was built once times.

can't debug so i make a issue

log terminal look like below
[code]

[2019-08-09 14:57] brotzky commented on #43
Yes, will think about this one. We can't disable images on the home page as it's not designed that way yet, but on the article page it might be a good idea.

You're not the first to request this so we'll investigate it today.

[2019-08-09 14:58] brotzky commented on #42
https://github.com/narative/gatsby-theme-novela/blob/master/package.json#L46

We're using `gatsby-plugin-mdx` but forgot to remove gatsby-mdx. Thanks for the reminder and appreciate the issue.

[2019-08-09 15:07] bravo-kernel commented on #43
Nice and that's exactly what I mean... display the hero on the home page (as that looks nice) but disable per article (if specified).

[2019-08-09 15:13] brotzky commented on #44
I believe this known limitation of Gatsby right now. You may want to double check directly with Gatsby. https://github.com/gatsbyjs/gatsby

https://github.com/narative/gatsby-theme-novela/issues/28#issuecomment-519313076

[2019-08-09 15:31] bravo-kernel commented on #44
@quay I had similar problems today (with the hot loading not working). Were you also using the novela starter?  If so I think the starter needs to be fixed or perhaps even re-created so it uses the most recent gatsby starter.

[2019-08-09 16:19] deadcoder0904 commented on #42
Ohh! Thanks for the theme. Finally, I don't have a reason to not start a blog 😄

[2019-08-09 16:30] brotzky commented on #42
This has been fixed in latest PR. Thanks for using Novela. Let us see your blog when you get it live!

[2019-08-09 16:30] #42 closed

[2019-08-09 17:00] nikitavoloboev opened #46 "Add ability to zoom in on clicked images without opening new tabs"
It's not best UX as now when you click on an image it will open the image in a new tab.

I quite like what Medium has where if you click on an image it will zoom into the image but still let you stay on the page and fade the background. Click again and go back to reading.

There is even a [library](https://github.com/francoischalifour/medium-zoom) that does this effect although it's probably bloat

[2019-08-09 17:23] brotzky commented on #46
This has been updated in the latest release already. (v0.1.0)

Click an imagine in this article
https://novela.narative.co/understanding-the-gatsby-lifecycle-with-narative

[2019-08-09 18:32] nikitavoloboev commented on #46
Beautiful. Thank you.

[2019-08-09 18:32] #46 closed

[2019-08-09 20:02] kaseyhinton commented on #39
Is this being worked already? Really cool page idea. What are you thinking for the route? /author/:id or /author/:name or something else?

[2019-08-09 20:05] brotzky commented on #39
Most likely: `/authors/:name`
but will also be able to set an `authorsPath` maybe.

[2019-08-09 21:07] quaj commented on #44
argree with @bravo-kernel

[2019-08-09 21:54] bravo-kernel commented on #44
@brotzky to be complete, I was encountering problems with hot-reload not working for **existing pages** (on Windows 10). After that I also checked [this theme](https://github.com/ryanwiemer/gatsby-theme-amsterdam) and the hot-loading is no problem there. Perhaps it can be used for inspiration, I especially like the yarn workspace structure, it makes developing (and PRing) so simple.

If I am missi

[2019-08-09 21:55] bravo-kernel commented on #43
Implemented here https://github.com/ryanwiemer/gatsby-theme-amsterdam/pull/5

[2019-08-10 00:17] brotzky commented on #44
I've got lie reloading for me locally. Going to be hard to debug this one.

[2019-08-10 00:20] #40 closed

[2019-08-10 00:21] #7 closed

[2019-08-10 01:48] quaj commented on #44
anyway, tested /www and worked now, need move to narative/gatsby-starter-novela
close issue, tks @brotzky

[2019-08-10 02:07] quaj commented on #44
and publish too 🙀

[2019-08-10 03:55] brotzky commented on #44
Will do, soon!

[2019-08-11 03:43] brotzky commented on #39
@kaseyhinton @johnletley

You can now enable Authors page via theme options in `v.0.2.0`+

`authorsPage: true`

[2019-08-11 03:43] #39 closed

[2019-08-11 03:44] brotzky commented on #35
Refactored quite a bit and used the bisect code you posted here.
Gracias!

Also, author pages can now be enabled in v0.2.0

[2019-08-11 03:44] #35 closed

[2019-08-11 08:12] johnletey commented on #39
wonderful! thank you so much @brotzky!

[2019-08-11 12:03] bravo-kernel opened #49 "Vertical scrolling throws an error on blog with single post"
To reproduce:

[code]

Now:

1. browse to http://localhost:8000/
2. do not scroll the page
3. open chrome inspector, console
4. browse to http://localhost:8000/my-first-post-using-novela-by-narative
5. browse back to http://localhost:8000/
6. scroll page

**Check console:**

[code]

[2019-08-11 18:14] bravo-kernel commented on #44
@quaj could you try the starter again? The hot reloading should work now.

[code]

[2019-08-11 18:36] quaj commented on #44
looks like it works well 👍

[2019-08-11 19:48] bravo-kernel opened #50 "De-couple post title and URL"
Changing the front matter variable `title` also changes the URL to the post. This was highly unexpected (and unlike the default Gatsby behavior which uses the post file name structure if I am not mistaken).

Has this been a conscious choice and if so:

- what was the reasoning behind it?
- are you folks open to going back to standard URL behavior (using file names to start with)?
- perhaps adding

[2019-08-11 19:51] bravo-kernel commented on #50
Lol, this is silly, already implemented I see. Kudos my friends, I stand corrected.

https://github.com/narative/gatsby-theme-novela#post

[2019-08-11 19:51] #50 closed

[2019-08-11 19:54] bravo-kernel opened #51 "Replace prism with gatsby-remark-vscode?"
Are you folks open to replacing prism with https://github.com/andrewbranch/gatsby-remark-vscode? There is a very good [side-by-side comparison of the benefits](https://github.com/andrewbranch/gatsby-remark-vscode#why-gatsby-remark-vscode) of which the two most important ones for me are:

- correct highlighting of highly complex code
- out-of-the-box support for languages as Powershell

[2019-08-11 20:36] brotzky commented on #51
I haven't seen that package before. The comparison looks quite solid.
Ill investigate how much work it is but it might not be worth it right now if it's a major rewrite. Would be great if it's a simple swap of plugins.

[2019-08-11 20:37] brotzky commented on #44
thanks for the help, @bravo-kernel.

and glad it's resolved.

[2019-08-11 20:37] #44 closed

[2019-08-11 21:03] bravo-kernel commented on #51
Thanks, really appreciate the fact that you are open to considering the option and.. no rush, this is not blocking anything. It’s no blocker so no rush. Perhaps this could even be done by somebody contributing. Awesome job on the theme btw, will be migrating soon.

[2019-08-12 03:42] brotzky commented on #51
Would love if this was from a contributor.

Did some investigation tonight and it seems like a bit of work to get it to replace Prism. Right now Prism has a lot of momentum and seems to work nicely good enough.

If anyone wants to preserve the current code theme style we have in Novela and migrate to `gatsby-remark-vscode` that would be apprecaited!

[2019-08-12 04:14] brotzky commented on #49
fixed in v0.2.1

[2019-08-12 04:14] #49 closed

[2019-08-12 07:39] bravo-kernel commented on #49
Confirmed as fixed, thank you kindly 💯

[2019-08-12 08:23] bravo-kernel opened #52 "Continuous Integration"
Would you folks like me to set up CI for this repo so we can start quality checking the contributions.? If so, I would like to suggest [Github workflows](https://developer.github.com/actions/managing-workflows/) as this will become the de-facto standard IMO. I think you might [need to register here](https://github.com/features/actions) first.

If we do this the PR can be used to preview the result

[2019-08-12 14:57] brotzky commented on #52
This was on my mind, especially now that the initial release has been refactored as is more stable.
CI for automated releases would be fantastic. Netlify for deploy previews built in.
Would really appreciate the help on this one.

[2019-08-12 16:08] brotzky commented on #43
Would love a PR for this one. The design is very geared to including the image so ill consider this out of scope of what we'll do for now. Use nice hero images you'd want to display :D

[2019-08-13 00:57] AryanJ-NYC opened #53 "Add Support for YouTube object in `social` array of gatsby-config.js"
# User Story
As a user, I want to be able to add my YouTube channel as a `SocialIcon` to `Navigation.Footer`.

# Acceptance Criteria
A user can add

[code]

to `gatsby-config.js` and a YouTube `SocialIcon` will display on the `Navigation.Footer`.

[2019-08-13 00:59] brotzky commented on #53
This is a solid suggestion. Will have it added shortly. Thanks, Arjan.

[2019-08-13 01:32] brotzky commented on #53
@AryanJ-NYC you can now use `youtube` as a social icon and link in `v0.2.2`.

[2019-08-13 01:32] #53 closed

[2019-08-13 09:31] dennismorello opened #54 "Only 2 posts are shown in index page"
Hi,

am I missing something or is it an issue that only the 2 most recent posts are rendered on the index page? The other post pages are generated but they are not reachable from the index page.

[2019-08-13 09:35] dennismorello opened #55 "Warning: Each child in a list should have a unique "key" prop."
When starting the dev server, the following error is raised:

<img width="1402" alt="Schermata 2019-08-13 alle 11 34 50" src="https://user-images.githubusercontent.com/19588613/62931328-77089d80-bdbe-11e9-8f32-2b4af89869e7.png">

[2019-08-13 15:17] brotzky commented on #54
Hey Dennis, thanks for the report. Will be on this one right away.

[2019-08-13 15:37] brotzky commented on #54
@dennismorello could you tell me the version you're running and how many posts you have? I can't seem to recreate this in latest.

[2019-08-13 15:43] dennismorello commented on #54
I have 3 posts and I am using version 0.2.2

[2019-08-13 15:44] dennismorello commented on #54
Thank you Dennis!

[2019-08-13 15:46] dennismorello commented on #55
I have 3 posts and I am running `gatsby` v2.13.61 and `gatsby-theme-novela` v0.2.2 (both are the latest versions).

[2019-08-13 15:48] dennismorello commented on #54
Thank you Dennis!

[2019-08-13 15:48] brotzky commented on #54
@dennismorello upgrade to v0.2.3 and it should work.

[2019-08-13 15:52] dennismorello commented on #54
Yes the issue has been fixed, thank you!

[2019-08-13 15:52] #54 closed

[2019-08-13 17:58] AryanJ-NYC commented on #55
This'd likely be fixed by upgrading to gatsby-plugin-theme-ui v0.2.23: https://github.com/gatsbyjs/gatsby/issues/16196#issuecomment-516194257

[2019-08-13 18:45] AryanJ-NYC opened #58 "[Proposal] Post links open in new tab"
**Is your feature request related to a problem? Please describe.**
Nothing is broken. However, as a content creator that wants to keep their tab open in the browser (instead of having links open in the current tab), I believe it'd be nice for all links to open in a new tab.

**Describe the solution you'd like**
I would like a `gatsby-transformer-remark` options property that looks like [this](http

[2019-08-13 18:47] brotzky commented on #58
Links in the article should open in a new tab by default. agreed.
This should be quite simple to setup. Hopefully it's added by end of day.

[2019-08-13 19:14] bravo-kernel commented on #43
I'm having a bit of a hard time figuring out how to PR. How do you folks do this? I was hoping to clone the theme, then run it locally so I can see the changes while programming. Done.. just commit and push.

[2019-08-13 19:20] bravo-kernel commented on #43
I will add some documentation once I figure this out.

[2019-08-13 19:25] brotzky commented on #43
Hit Fork
now you have your own copy
clone that locally and run yarn install
`www` is where you'll edit your "site"
`@narative/gatsby-theme-novela` is where you'll configure the theme
commit and push what you've changed
go to your forked Github repo and there should be a message saying create a pull request
if not, come back to this repo and see if the message is there.

[2019-08-13 19:40] bravo-kernel commented on #43
Wow, I think this has been too long a day. It does work exactly as I expected.

Here's what I am doing:
[code]

- This starts the www site as expected at `localhost:8000`
- I now make a change in file `@narative/gatsby-theme-novela/`
- Change in `src` is live reload in the www site

Sorry for the noise. I will pick up on this tomorrow.

[2019-08-13 19:54] brotzky commented on #43
No problem, thanks for all the help.
I'm having a long day today as well 😅

[2019-08-13 23:01] AryanJ-NYC commented on #58
@brotzky Are you open to open-source help? If so, have you started this yet? If not, I'd love to contribute.

[2019-08-13 23:03] brotzky commented on #58
yes, definitely open. this can probably be done by modifying the Anchor component that's passed into MDX.

[2019-08-13 23:14] AryanJ-NYC commented on #58
Ah, I was thinking of using https://www.gatsbyjs.org/packages/gatsby-remark-external-links/ to have it in the config rather than in code. Thoughts?

[2019-08-13 23:24] brotzky commented on #58
I'm okay with that. Try it out, see if it works. If not, we can always do it the other way.

[2019-08-14 00:35] #58 closed

[2019-08-14 04:53] brotzky commented on #55
Tested upgrade locally and it doesn't seem to work.
I wouldn't stress too much about the warning, but will keep the issue open and monitor possible solutions.

[2019-08-14 08:12] dennismorello commented on #55
Ok, thank you Dennis 👌🏻

[2019-08-14 12:56] bravo-kernel opened #61 "[Feature] Default hero image"
When a user wants to start writing the most probable flow would be:

1. user creates an `index.mdx`
2. user starts typing away on the post
3. user wants to check the results

Currently the creative moment is kind of force stopped because a missing image will:

1. prevent the post from rendering
2. throw an error
3. force the user into first fixing the image (losing focus on content)

**Describe th

[2019-08-14 15:30] brotzky commented on #61
I love this idea, will be done today @bravo-kernel. Most likely the implementation will simply have a grey colored background with CSS until the user adds in an image source.

[2019-08-14 15:34] bravo-kernel commented on #61
Awesome, I’m very curious how this will be done 👍🏼

[2019-08-14 16:26] brotzky commented on #43
@bravo-kernel I think https://github.com/narative/gatsby-theme-novela/pull/62 solves this as well.

an image will always be required with the design of this version of Novela and I think allowing authoring without an image is a great compromise. Let me know if you had something else in mind.

[2019-08-14 16:33] brotzky commented on #61
published update `v0.3.0`, includes Contentful data source option and optional hero.
may include some minor breaking changes with `social`, but should still work backwards compatible.

ps: great issue writeup -- appreciate it.

[2019-08-14 16:52] ryanwiemer commented on #61
@brotzky I'm also interested in this type of workflow to include logical fallbacks to make the authoring experience better for users. I actually implemented something very similar to this last week for my theme but I used a [placeholder component](https://github.com/ryanwiemer/gatsby-theme-amsterdam/blob/master/theme/src/components/Hero.js#L71).

https://amsterdam.netlify.com/placeholder-example/

[2019-08-14 16:57] brotzky commented on #61
I was on the fence about adding a placeholder image, but I do agree it's a better authoring experience to see the missing image. I opted for a warning in the console to avoid downloading any extra packages or including an image as a reference.

I think the placeholder component is the right move afterall.

[2019-08-14 19:23] bravo-kernel commented on #43
@brotzky I was just about to test this when I noticed `yarn dev` doesn't start anymore, looks to be caused by Contentful. I tried changing contentful to `false` like shown below but same result.

Please do point me in right direction if I am misinterpreting stuff again, I thought Contentful was optional.

[code]

[2019-08-14 22:00] brotzky commented on #43
What was the error?

It should work without explicitly setting those values.

[2019-08-15 02:52] jpvalery opened #63 "[Idea] Boolean for dark posts (hidden on the homepage)"
This is something I've implemented on https://github.com/jpvalery/portfolio to hide some pages from the home page.

Basically, it's a boolean property for a post `DisplayHomepage` that either includes the post in the list of posts or doesn't.

Use case: as a user, I want to have a page accessible but not visible / as a user, I want to have posts only accessible for people with the URL.

Similar to

[2019-08-15 02:59] brotzky commented on #63
Quite straight forward to add and I think it's reasonable. Brb

[2019-08-15 03:36] brotzky commented on #63
this can now be set with `secret: true` or in Contentful `secret: yes`
`v0.3.2`

[2019-08-15 03:36] #63 closed

[2019-08-15 03:40] jpvalery commented on #63
You rock 🤘!
Quick question: how do you then find the URL for the post?

[2019-08-15 03:45] brotzky commented on #63
you can define the `slug` or it's the slug-ified version of the title

This Is My Post TItle
`/this-is-my-post-title`

[2019-08-15 04:42] brotzky commented on #61
v0.3.6

I added an Image Placeholder component that renders the dimensions of the image location.

https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/src/components/Image/Image.Placeholder.tsx

http://d.ntve.co/j6mprz

[2019-08-15 04:42] #61 closed

[2019-08-15 08:35] bravo-kernel commented on #61
@brotzky awesome implementation, the video says it all :100. Compliments and a big thanks, this sure adds a lot to the overall feeling of "solidity" of the theme.

[2019-08-15 12:31] chakrihacker opened #65 "Only JavaScript Syntax is getting highlighted"
**Version of Novela you are using**
0.2.0
**Number of posts you have and which data source**
8 and local
**Describe the bug**
A clear and concise description of what the bug is.
I use bash scripts and dart language, but only javascript code blocks get syntax highlighting
**To Reproduce**
Steps to reproduce the behavior:
1. Use any language other than javascript
**Expected behavior**
Should highlig

[2019-08-15 14:45] brotzky commented on #65
Thanks for creating the issue. Sounds like we should switch from prism
https://github.com/narative/gatsby-theme-novela/issues/51

Will bump the priority of that.

[2019-08-15 16:10] brotzky commented on #14
I can’t seem to recreate it.
iPhone 7s, Firefox focus latest.

Could you confirm it’s still jumping?
https://novela.narrative.co

[2019-08-15 17:16] brotzky commented on #51
I've started on this implementation but ran into some issues with gatsby-plugin-mdx and potentially vscode plugin. Will see when it's all resolved.

[2019-08-15 17:24] tiddler opened #67 "Adding SVG/GIF images in the post will break when zoom in"
**Version of Novela you are using**
0.3.6

**Describe the bug**
When the post contains SVG or GIF images, it is rendered correctly but will break the page when clicking on any image to zoom in.

**To Reproduce**
Steps to reproduce the behavior:

1. Add any SVG/GIF images in the post, for example

[code]

2. Open the page and zoom in any image.

**Expected behavior**
The page should not break.

**S

[2019-08-15 17:28] bravo-kernel commented on #43
I made a local change that adds this functionality. There were however two things that I could not figure out yet:

- the Aside progressbar calculations
- the css (it now just displays an empty block)

I will probably have to dig in to React a little deeper this weekend but it looks very doable to me. IMHO you will have a clear winner once this feature lands as it would make the theme suitable to

[2019-08-15 17:56] brotzky commented on #43
PR is appreciated, even to share the initial ideas.

[2019-08-15 17:57] brotzky commented on #67
Agreed, this is a fairly easy one-ish line change.
Thanks for reporting! Forgot to test different file formats.

[2019-08-15 18:05] sw-yx commented on #14
yes, still jumping. iphone xr, firefox focus latest (8.1.2)

low priority i guess but weird one!

[2019-08-15 18:06] brotzky commented on #67
@tiddler fixed in v0.3.7

[2019-08-15 18:06] #67 closed

[2019-08-15 18:10] brotzky commented on #65
Feel free to follow along on the PR: https://github.com/narative/gatsby-theme-novela/pull/66
Right now ran into an external bug that's blocking progress. Hopefully we'll be able to solve it soon and get this feature shipped in Novela.

[2019-08-15 19:28] chakrihacker commented on #65
Sure thanks for the quick update

[2019-08-15 19:37] chakrihacker commented on #25
Hey, I would like to help on tags/categories. Also I feel adding code title should be fine. what do you think??

[2019-08-15 19:54] chakrihacker commented on #34
Another alternative to disqus https://staticman.net

[2019-08-15 20:05] brotzky commented on #25
Hey, that's awesome!

Off the top of my head we'd need
- Updated design with tags/categories visible (done by our team)
- New pages that shows a list of specific tags/categories of articles selected
- New Frontmatter with tags/categories and createPages including that logic

Code title might be a good idea. Still on the fence about it.

[2019-08-16 01:44] parimalvyas commented on #22
Waiting for the Navigation Header and Bio section for Shadowing. Also, it will be great if we can just take the current tsx file and modify and apply as a shadow.

Thank you this thread was really helpful. I was trying to Shadow the Navigation Component, Bio and Article Hero without any luck.

Looking forward to the use the shadowing feature to the fullest.

Great work with the theme guys!

[2019-08-16 01:46] brotzky commented on #22
Can you share a repository where you're trying to achieve shadowing? I'd love to help you out.

[2019-08-16 19:10] jpvalery opened #69 "[Feature] Adding a subscribe field for an email list?"
I'm considering working on a fork to add a field allowing visitors to subscribe to an email list and I could use some brainstorm/feedback/guidance 😇

**Why is this important**
_As an author, I'd like to be able to build a list of people interested in what I'm writing so I can notify them when a new post is live (or else)._

_As a visitor, I'd like to subscribe to a blog I like_

**Feature**
Add a

[2019-08-16 19:33] brotzky commented on #69
I've seen examples of this on blogs
- https://overreacted.io/why-do-we-write-super-props/
- https://kentcdodds.com/

They're both using:
https://convertkit.com/

I think it's probably the cheapeast and easiest solution.

Implementation:
- Either an option on each Post or a global option to add it to all posts?
- MDX component you can add to a blog at any point?

Solid idea. We've also had requests

[2019-08-16 19:54] jpvalery commented on #69
The only issue I see with convertkit is that they don't offer any free tier (starts at $30 a month) :/

My thinking was :
* From my experience, MailChimp is the go-to solution for small lists.
* Or we could leave the option to the user to choose their preferred solutions by using Netlify forms.

I was considering adding it to all posts as a global option, but maybe it'd be better to have it as a p

[2019-08-16 20:27] parimalvyas commented on #22
Hi Dennis, **thank you** for this.
The link to the repo is: https://github.com/parimalvyas/pvyas-new-site.git

I am trying to Shadow the Header Navigation, Bio Section, Social Links and I plan to add a new About Page going forward.

Pardon me for the poor code, I am still trying to learn.

[2019-08-17 20:06] AryanJ-NYC commented on #65
@chakrihacker You need to specify the language after the three backticks. Using your example:

[code]

you'll get:
<img width="748" alt="Screen Shot 2019-08-17 at 4 03 59 PM" src="https://user-images.githubusercontent.com/8263430/63216799-e9ec7e00-c108-11e9-9bef-ee4a7847a98a.png">

Hope that helps!

[2019-08-17 20:10] AryanJ-NYC commented on #31
In case anyone stumbles upon this via Google, follow this feature here: https://github.com/narative/gatsby-theme-novela/issues/43

[2019-08-17 20:35] AryanJ-NYC opened #71 "URL is not defined in Netlify's build environment"
**Version of Novela you are using**
0.3.7
**Number of posts you have and which data source**
Nine local posts

**Describe the bug**
URL is not defined in Netlify's build environment
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/AryanJ-NYC/webdev-coach-blog
2. Try to deploy to Netlify

**Expected behavior**
It builds correctly.

**Browser**
None, at Netlify b

[2019-08-17 20:43] AryanJ-NYC opened #72 "Unable to stand up Novela development environment due to missing Contentful variables"
**Version of Novela you are using**
Latest
**Number of posts you have and which data source**
Using Novela's www example

**Describe the bug**
Contentful environment variables `CONTENTFUL_SPACE_ID` and `CONTENTFUL_ACCESS_TOKEN` are required to stand up development environment:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/narative/gatsby-theme-novela
2. Null

[2019-08-17 21:40] AryanJ-NYC commented on #71
Disregard. Upgraded the version of Node on my Netlify box and all is well.

[2019-08-17 21:40] #71 closed

[2019-08-17 22:54] brotzky commented on #65
Ah, yes. I assumed he was specifying the language in his post.
Thanks so much for clarifying @AryanJ-NYC :)

[2019-08-17 22:55] brotzky commented on #71
Sweet, love these kind of issues 😂

[2019-08-17 22:56] brotzky commented on #72
Oooof, that's not good. Will check this out today.

[2019-08-18 00:49] brotzky commented on #72
Contentful is now only injected if you've set both `CONTENTFUL_SPACE_ID` and `CONTENTFUL_ACCESS_TOKEN`. Sorry about that! I've also removed gatsby-source-contentful form the project deps sinice there's a bug with it.

[2019-08-18 00:50] #72 closed

[2019-08-18 00:50] #65 closed

[2019-08-20 06:18] chakrihacker commented on #65
Hey, I am specifying language with backticks

[2019-08-20 15:54] jpvalery commented on #69
Closing as it's done in #75

[2019-08-20 15:54] #69 closed

[2019-08-20 16:27] brotzky commented on #65
@chakrihacker could you share the code you're writing? It looks like Aryan was able to get it done.

[2019-08-20 16:52] AryanJ-NYC commented on #65
Just confirming that I'd love to take a look and help out where possible.

[2019-08-20 16:55] brotzky commented on #69
@jpvalery thanks so much!!!!!!!

[2019-08-21 16:51] jpvalery opened #77 "Could we get a new release to add Mailchimp to the plugin?"
From what I see in my yarn.lock, the latest version is 0.3.7 from Aug 15th and so it's missing the subscription (and everything since then)?

Or am I missing something / doing something wrong?

Thanks for everything!

[2019-08-21 17:32] brotzky commented on #77
Yes, will release!

[2019-08-21 17:33] brotzky commented on #77
v0.4.0

includes all latest.
sidenote: I should automate this... :D

[2019-08-21 17:33] #77 closed

[2019-08-21 17:33] jpvalery commented on #77
👀  Thanks for the fast reply @brotzky!

[2019-08-21 18:09] jpvalery opened #78 "Component shadowing doesn't work on Articles.Hero.tsx"
**Version of Novela you are using**
0.4.0

**Number of posts you have and which data source**
1 post local

**Describe the bug**
I've tried to set up component shadowin on Articles.Hero.tsx to change a bit how it's displayed (basically adding a sub header under the hero and down the road a subscription field).

I've followed the doc but couldn't get it to work. Despite being added at the (what I t

[2019-08-22 15:47] brotzky commented on #78
Will tackle this on the weekend. Ran into a lot of work this week.

[2019-08-22 15:48] jpvalery commented on #78
No worries! Get some rest as well ;)

[2019-08-24 17:00] jcaguirre89 opened #80 "Can't shadow article fonts"
**Version of Novela you are using**
0.4.1

**Number of posts you have and which data source**
(Local, Contentful options)
12 local

**Describe the bug**
A clear and concise description of what the bug is.
Can't shadow the fonts for the articles from theme-ui by shadowing `fonts.sansSerif` in `@narative/gatsby-theme-novela/gatsby-plugin-theme-ui/index.ts` because the Paragragh component doesn't set

[2019-08-24 17:04] jcaguirre89 commented on #80
I opened a PR in 20eb2000f0641f92c3ce159b04a8d2b0b13bd540 that fixes this issue

[2019-08-24 19:01] C-Rodg opened #81 "[Bug] Hero Image being cut off with no way to recover"
Novela Version: 0.3.7

Locally source

Issue:
On all of my article pages, the `article.hero.full` image that is being produced inside Article.Hero.tsx results in a cut off image.  This is the result of gatsby/data/data.query.js file specifying a maxHeight property inside of the query.  Unfortunately it doesn't look like there is currently a way to overwrite the graphql queries provided.

Expected

[2019-08-24 20:14] alfieqashwa opened #82 "Table style is not working"
**Novela version: 0.3.7**

**Data source: Local**

**Describe the bug**
Table style is not working

**Screenshots**
If applicable, add screenshots to help explain your problem.
![sc-from-novela-theme](https://user-images.githubusercontent.com/15263927/63642195-0fb7eb00-c6e6-11e9-8bd9-30e1b86d0e69.png)

**Expected behavior**
![sc-from-github](https://user-images.githubusercontent.com/15263927/63642

[2019-08-25 01:12] tiddler opened #83 "isDark() in component does not work as expected."
**Version of Novela you are using**
0.4.0

**Describe the bug**
In commit `83246d7`:

`isDark` is put in the MDXRenderer props in MDX.tsx file.
[code]
However, in the actual component, when trying to fetch the mode by
[code]
the `props` here only contains `children` and `theme` without the prop : `isDark`.

Tracing the code, I found in the `@gatsby-plugin-mdx/mdx-renderer.js`, it does pass the cor

[2019-08-25 01:44] tiddler opened #84 "Potential UI bug in Article.Hero.tsx"
**Version of Novela you are using**
0.4.0

**Describe the bug**
Adjust the width of the browser to this range ( 540px < x < 960px), say 800px.

![image](https://user-images.githubusercontent.com/9299201/63644425-d3b96180-c6b6-11e9-86eb-450bd169faab.png)

Remove this line in `Article.Hero.tsx` can fix the UI bug.

[code]

**Expected behavior**
The UI bug fixed with this removal.

![image](https://u

[2019-08-25 16:42] slorber opened #85 "Dark theme blinks on refresh"
https://novela.narative.co

When you select dark theme and you refresh the page, it starts as light theme and only then dark theme is applied, which is a bit janky.

I've seen some blogs and other gatsby plugins where the dark theme is handled in a way that prevent this blink effect. For example https://overreacted.io

Basically you need to apply the dark theme as soon as possible, even before the

[2019-08-25 17:08] slorber opened #86 "Bad author page slug"
https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/gatsby/node/createPages.js#L29

This slugify function is a bit too simple:

[code]

This lead to `"/authors/s-bastien-lorber"` for my author page

I suggest using a technique to replace accents with non-accent chars before replacing by -. Also using a dedicated slugification package could do the job
https:/

[2019-08-25 18:30] brotzky commented on #82
This is true. Need to support Table styling.
Great report and thanks.

[2019-08-25 18:32] brotzky commented on #85
Yes! This has been bothering me as well.
Going to tackle this asap. Thanks.

[2019-08-25 18:32] brotzky commented on #84
Thanks Tiddler. Will work on this today.

[2019-08-25 18:53] brotzky commented on #86
Will add a package to handle this and have it the same as articles where you can define an optional `slug` that overrides the generated one.

[2019-08-25 19:04] #80 closed

[2019-08-25 22:56] brotzky commented on #80
Thanks so much @jcaguirre89

[2019-08-26 00:33] brotzky commented on #82
@tcostaco can we grab the table styles we've made before in some proposals?
Will use those in article.

[2019-08-26 00:48] brotzky commented on #86
Special characters and custom slug now supported for authors.
v0.4.2

[2019-08-26 00:48] #86 closed

[2019-08-26 00:49] brotzky commented on #81
Removed hero limit height. Please note the progress bar is 425px so it's suggested to keep hero images to 944x245px

Now supported in v0.4.2

[2019-08-26 00:49] #81 closed

[2019-08-26 00:50] brotzky commented on #84
height removed. note the progress bar is 425px so it's recommend to post hero images at that height.

v0.4.2

[2019-08-26 00:50] #84 closed

[2019-08-26 01:08] brotzky commented on #83
Hmmm, I wonder if this is an issue with `gatsby-plugin-mdx`. According to their docs we're doing exactly what it says and you're right, the prop is not being passed down into the component.

https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-mdx#mdxrenderer

I've tried tested this in the code:

[code]

And it only logs out `props.children` out.

[2019-08-26 01:09] brotzky commented on #78
I shall get some rest. Early this week I'll tackle this. You're not the first person to run into shadowing issues.

[2019-08-26 03:49] tcostaco commented on #82
Thanks for the report @alfieqashwa! I'll look into it this week. 👀

[2019-08-26 07:09] slorber commented on #86
Thanks :)

[2019-08-26 09:14] bravo-kernel commented on #43
@brotzky apologies for the late reply, I had to push out a new library which took more time than I expected.

In all honesty, my PR would only show a frontmatter similar to 'secret' but would not solve anything related to A-Side and CSS (since I am no Gatsby/React pro yet). **How about this?** You implement this feature and I start work on #52, should be do-able today.

Also some more background i

[2019-08-26 09:19] bravo-kernel commented on #52
It looks like GH Actions is not being enabled for organizations yet. How about we start with Travis for now so we can get things like linting started? **If you agree** I can start work on this today and probably finish it as well. Features will become visible with each commit so you can follow and provide feedback where needed.

To give you an idea I just did the exact same for my new module https

[2019-08-26 09:49] bravo-kernel commented on #63
Very nice, this also works perfectly for articles that are still work-in-progress 💯

[2019-08-26 11:44] mabasic commented on #71
Something similar happened to me, and after seeing this issues I checked my node version and it was very old :) Now everything runs like butter.

[2019-08-26 21:35] mabasic opened #89 "Can we have releases on github also?"
**Is your feature request related to a problem? Please describe.**
In the issues on this repository I could see people talking about version 0.4.0, 0.4.1, 0.4.2, but the latest release on github is 0.2.0. At first I was puzzled until I checked on NPM and there are the correct versions and the latest version is 0.4.3. It is very hard to see if there is a new release if I have to check on NPM, but t

[2019-08-26 21:41] mabasic commented on #89
I also have added icons for patreon and paypal. Do you want me to send a PR for that also?

[2019-08-26 21:48] mabasic opened #90 "Component shadowing not working for Navigation.Footer.tsx"
**Version of Novela you are using**
0.4.3

**Number of posts you have and which data source**
1 Local

**Describe the bug**
I have created a file called `Navigation.Footer.tsx` in `src/@narative/gatsby-theme-novela/components/Navigation/` and pasted the raw version of the file from this repository. Then, I have removed the horizontal rule just to see if the changes occur, but nothing changed. As i

[2019-08-27 02:20] jcaguirre89 commented on #80
no problem at all, glad to contribute something! thanks for the awesome
theme!

On Sun, 25 Aug 2019 at 15:56, Dennis Brotzky <notifications@github.com>
wrote:

--
Cristóbal Aguirre

[2019-08-27 07:53] bravo-kernel commented on #52
Closing as a PR is now open

[2019-08-27 07:53] #52 closed

[2019-08-27 08:50] freddydumont opened #93 "gatsby-plugin-mailchimp missing from dependencies"
**Version of Novela you are using**
Latest on npm, just installed

**Describe the bug**
The missing dependency `gatsby-plugin-mailchimp` causes a "Failed to compile" error. Adding the dependency manually fixes the issue.

**To Reproduce**
Install using gatsby CLI and run `yarn dev`
[code]

**Expected behavior**
The missing dependency should be included in the novela theme `package.json`

**Screens

[2019-08-27 10:47] freddydumont opened #96 "Add an optional caption under images"
It'd be nice to have to credit the photo author or just to add context to the image. Like this on medium:

![image](https://user-images.githubusercontent.com/15388588/63765090-962c2280-c8c8-11e9-9ae7-3383c129052d.png)

[2019-08-27 11:29] mabasic commented on #78
I have found a design bug in that file, fixed it, but shadowing does not work for this file also. I'll send a PR.

[2019-08-27 11:35] mabasic commented on #90
I have an idea why component shadowing does not work.

I have noticed that it works with files named like so: `Something.tsx`, but it does not work for files named like so `Something.Something.tsx`.

I will try to conduct some tests and let you know.

[2019-08-27 12:04] johnletey commented on #96
Would also be nice to support markdown as well

[2019-08-27 12:39] mabasic commented on #90
That is the issue. I will send a PR.

[2019-08-27 12:53] mabasic commented on #90
Fixed with #97

[2019-08-27 12:53] #90 closed

[2019-08-27 12:53] mabasic commented on #78
Fixed with #97

[2019-08-27 15:03] slorber opened #99 "Reading time does not take code into account"
I have an article which is 5min read according to Novela, but in practice it's more 15-20min, due to many code fragments and MDX demo components.

I think it would be nice to word count code or something (eventually with a different word/min ratio), and eventually let ability to the user to specify reading time through frontmatter so that we can hardcode a time according to concrete reader's feedb

[2019-08-27 17:31] bravo-kernel commented on #89
@mabasic when CI/CD is done the releases will be automated, keeping both npm and github release versions identical. Should become real soon.

[2019-08-28 09:33] slorber opened #101 "Code => make 80 chars width fit on a mobile screen?"
Reading code on mobile with an horizontal scrollbar is annoying

![image](https://user-images.githubusercontent.com/749374/63843778-3fd1e900-c987-11e9-8fb5-7882fefd989c.png)

I'm using jsx code in mdx with std prettier setting and max char per line of 80.

Unfortunately the code does not fit out of the box on mobile devices.

Shouldn't Novela ensure it renders responsively and size the font of the

[2019-08-28 19:33] jpvalery opened #102 "Brainstorm: localization / multi-language"
Hey everyone,

I'd like to brainstorm about the best way to implement localization with Novela.

I'm working on a refactoring of the website of the Montréal Photo Club, and Montréal being a bilingual city I'd like to get the website to be bilingual.

I've thought of the following options:

1/ Use Contentful localization features (with the caveat that the homepage isn't populated with Contentful da

[2019-08-29 10:25] mabasic commented on #63
I've just noticed that the secret post is still displayed in "more articles" section at the bottom of some other post. I'll try to figure it out and send a PR.

[2019-08-29 10:37] freddydumont commented on #102
Localization in Gatsby is still a pain point, as there's no standard way to do it. At least there wasn't 6 months ago, things might have changed since I last had to deal with intl.

Last time I used a solution based on this: https://medium.com/significa/i18n-with-gatsby-528607b4da81.

It requires you to duplicate pages in `gatsby-node.js`, but the blog post explains it all. I haven't researched ho

[2019-08-29 10:54] slorber commented on #101
no problem for me, as long as you recommend a max char per line value I'll configure my prettier to run on MDX with it

[2019-08-29 13:15] jpvalery commented on #102
@freddydumont thanks for chipping in! I took a quick look at the great article you shared but I'm not sure that using `react-intl` would work that well (as it seems tailored for UI microcopy rather than blog content).

Found this https://github.com/LekoArts/gatsby-starter-prismic-i18n that used localization with Prismic (so should be pretty similar to Contentful)

[2019-08-29 14:24] slorber opened #104 "Customize mailchimp subscription text with config"
Currently when you use the mailchimp feature, you have a lorem ipsum text, and doc recommends to shadow the subscription component.

That's unfornunate because I'm perfectly fine with your subscription component, I just want to modify the text in it :)

I think it would be better to provide an option to configure text through config rather than using shadowing and having to copy-paste your compone

[2019-08-29 18:06] bravo-kernel opened #107 "Suggestion: adopt the contributor covenant code of conduct"
There is currently a hot debate going on in the React world about code of conduct in OSS projects. The majority suggests adopting https://www.contributor-covenant.org/ which boils down to 2 changes:

1. add a badge on the readme
2. point users to the online COC in CONTRIBUTING.md or similar file/place

[2019-08-29 19:20] jpvalery commented on #107
There's actually a way to automatically add it through Github in **Insights** > **Community**
![image](https://user-images.githubusercontent.com/4112343/63969693-63bd2980-ca70-11e9-9ca2-c4efd667db9b.png)
and then
![image](https://user-images.githubusercontent.com/4112343/63969713-70418200-ca70-11e9-9eda-95ff5df02548.png)

Not sure if it's needed as of now but I support the idea

[2019-08-29 19:21] bravo-kernel commented on #107
That's nice

[2019-08-29 19:56] bravo-kernel commented on #107
To motivate further:

- I did not suggest this as a current necessity. Most people will never turn nasty. In case someone does, this pretty much beats them to it, simply point them to the coc
- my main driver is the fact that companies (like Narative or mine for that matter) could benefit from adopting it as well. It can be a strong asset to incorporate in a company identity. Imagine a talk with a

[2019-08-29 19:57] mabasic commented on #104
Even though I use component shadowing for it because of gdpr, I see a benefit in doing this, but just having a more general text for it instead of lorem ipsum should solve 90% of use cases for changing the text.

[2019-08-29 20:50] brotzky commented on #107
https://github.com/narative/gatsby-theme-novela/pull/108

added

[2019-08-29 20:50] #107 closed

[2019-08-29 21:04] brotzky commented on #102
@freddydumont that's more or less how I've handled in the paster. Hopper.com uses a similar pattern but we used react-intl instead (probably the dated lib now). That project used a mix of Contentful (easy setup) and strings stored in JS objects locally.

[2019-08-29 21:05] brotzky commented on #104
@slorber want to propose some default copy for that section around the same length as the lorem?
I think that could be a solid solution as well for 90% as @mabasic pointed out.

[2019-08-29 22:48] brotzky commented on #101
Looks like the React docs break the line.
I'm not sure this is a better experience since it's quite hard to follow the code in some cases.
I think formatting your code to be narrower (60) could be a great solution

Thoughts? Wrap lines or no?

<img width="312" alt="Screen Shot 2019-08-29 at 3 47 18 PM" src="https://user-images.githubusercontent.com/8007686/63981530-5a35c080-ca74-11e9-89f7-db9052e2

[2019-08-29 23:15] brotzky commented on #96
I think this will be implemented through MDX. Originally I thought of pulling the alt tag but there are cases where you want links and other features to to work within that description.

[2019-08-29 23:33] bravo-kernel opened #109 "Continuous Deployment"
If you want to try setting up or playing with CD yourself here are my notes.

[Lerna](https://github.com/lerna/lerna) - A tool for managing JavaScript projects with multiple packages

[code]

Now remove directory ./packages/

Then update `lerna.json` so it looks like:

[code]

Try running it locally to get an impression, there is a y/n choice where you can prevent the publishing.

[code]

You'll s

[2019-08-30 01:22] jpvalery commented on #102
@brotzky would you advise to do the same for Novela then? Contentful for the posts and strings for homepage and UI?

[2019-08-30 02:11] brotzky commented on #102
If you're doing it for yourself then yes. But for this theme and majority of users I would guess they're using MDX.

Im struggling to think of a way to keep the simplicity of the theme for everyone and add in localization as an option.

[2019-08-30 07:26] mabasic commented on #101
It should be an option to choose. I like moving it right/left to view code, because when you have a lot of code things tend to get lost in the vertical.

[2019-08-30 07:45] slorber commented on #101
Actually not sure to like the 60 chars limit, it's really small and makes the code less readable on desktop, even if it's better than line breaks on mobile

![image](https://user-images.githubusercontent.com/749374/64001990-52742b80-cb09-11e9-91c5-7f63c29ce020.png)

VS

![image](https://user-images.githubusercontent.com/749374/64002045-733c8100-cb09-11e9-9e11-c27f459264ae.png)

(probably not the b

[2019-08-30 13:25] jpvalery commented on #102
No worries, I was really asking for a personal use case rather than a feature :)

At this point, I'm thinking that building twice might be the easiest actually since the content is pretty light and not updated on a daily basis.

Leaving this issue open if anybody else wants to chip in

[2019-08-30 14:33] jpvalery commented on #86
Same issue for posts title `métro` becomes `m-tro` - could we get the same fix there?

[2019-08-30 15:36] brotzky commented on #86
great idea. will port it to handle Posts as well.

[2019-08-30 17:00] brotzky commented on #101
It seems like wrapping the code might be the best option

[2019-08-30 17:02] brotzky commented on #86
This should already be handled actually! at least locally. maybe I need to publish the update :)

[2019-08-30 17:41] #78 closed

[2019-08-30 17:47] brotzky commented on #55
This doesn't appear to be happening anymore. I'm going to close it.
Not sure how it was resolved so feel free to reopen if you see it again.

[2019-08-30 17:47] #55 closed

[2019-08-30 17:50] brotzky commented on #14
low priority. Shawn, just use a better browser 🤣. I don't have a device that can reproduce so going to close for now..

[2019-08-30 17:50] #14 closed

[2019-08-30 17:50] brotzky commented on #82
Latest has basic styling.

[2019-08-30 17:50] #82 closed

[2019-08-30 17:56] jpvalery commented on #86
That's probably going to help 😛

[2019-08-30 17:56] brotzky commented on #43
Im going to stand that we keep images on post pages for now. I dont want to ruin the integrity of the design and there's already an image required for the aritcles list.

[2019-08-30 17:56] #43 closed

[2019-08-30 18:17] bravo-kernel commented on #43
Ahh, disappointed to hear that but you probably have good reasons. Out of curiosity.. was it the complexity of the change?

[2019-08-30 18:19] brotzky commented on #43
Want to avoid going too far from core design.

[2019-08-30 18:19] bravo-kernel commented on #43
ok, fair enough

[2019-08-30 18:34] brotzky commented on #104
added generic text instead of lorem. Will solve for now. Shadowing is the correct way moving forward.

[2019-08-30 18:34] #104 closed

[2019-08-30 23:00] brotzky commented on #89
This is work in progress and follow this issue for more details: https://github.com/narative/gatsby-theme-novela/issues/109

[2019-08-30 23:00] #89 closed

[2019-08-30 23:13] slorber commented on #104
Great
Just wonder if for those cases it's not worth to make a comp just for the text. Shadowing a big file just to modify a tiny part works but feels a bit weird to me.

[2019-08-30 23:15] slorber commented on #101
Wrapping the code?

[2019-08-30 23:23] brotzky commented on #101
https://github.com/narative/gatsby-theme-novela/issues/101#issuecomment-526389947

See how the code wraps here as the screen gets smaller? It breaks line (removes the `<pre /> wrap: no-wrap` flow.

[2019-08-30 23:25] brotzky commented on #104
I definitely get what you mean. Shadowing is a strange moving target and often components are made in a way that it's not always simple to shadow.
Agreed that configuration may be the way to go.
Maybe as the project gets bigger we can create a JSON object for all the custom copy instead of placing it in siteMetadata.
Even moving the subscription box copy into YAML like Authors could work.

[2019-08-31 07:36] slorber commented on #104
Yeah that would be great to be able to change all text

Not so fan of shadowing. It's just an official patch package actually. Pretty sure it will lead to annoying upgrades and breaking changes as all the theme becomes an API surface somehow

[2019-08-31 08:42] dennismorello opened #110 ""Multiple versions of Emotion detected""
**Version of Novela you are using**
0.5.1

**Number of posts you have and which data source**
Local, 2 posts

**Describe the bug**
When starting the dev server or opening the prod version, the browser logs the following warning:

**To Reproduce**
Steps to reproduce the behavior:
1. Start the dev server or build the prod version
2. Run your web browser and open the site
3. Open the dev console
4. S

[2019-08-31 08:52] dennismorello opened #111 "Use "prefers-color-scheme" to init color mode"
**Is your feature request related to a problem? Please describe.**
Bootstrapping the site with the system's color scheme improves the user experience.

**Describe the solution you'd like**
Since more and more browsers support the `prefers-color-scheme` media query ([see here](https://caniuse.com/#search=prefers-color-scheme)), use it to set the initial color mode of the theme.

**Describe alternat

[2019-08-31 17:54] slorber commented on #101
Actually I think we should do a mix of everything ;) reco 60 chars (but it's user's choice anyway, reduce size/padding, and wrap (maybe add this as a config option?)

Maybe the best is to give control to the users.

React doc and Dan Abramov/ Kent C Dodds don't do the same thing

![image](https://user-images.githubusercontent.com/749374/64067456-05877680-cc29-11e9-8dba-c36562b08f26.png)

![image](

[2019-09-01 09:35] alfieqashwa commented on #110
I see the messages while deploy on Netlify

![multiple emotion detected](https://user-images.githubusercontent.com/15263927/64074442-7a17ef00-ccd5-11e9-8c54-6f38926fb894.png)

Probably it affect to random fontsize in the code when using mobile browser ?

I see this on @slorber site https://sebastienlorber.com/handling-api-request-race-conditions-in-react
![IMG_3454](https://user-images.githubuserc

[2019-09-01 20:22] brotzky commented on #111
I believe this is already done through theme-ui
https://theme-ui.com/color-modes/ (scroll to bottom)

[2019-09-01 20:24] brotzky commented on #104
I share a similar sentiment. It turns the entire codebase into your API which... is really hard to maintain and has proven hard for people using the theme to keep up with. In theory any file renaming or moving right now would be a major version bump in semver.

We'll add some configurable text for that component.

[2019-09-01 20:27] brotzky commented on #101
We're using what Kent did in his blog, which he took form somewhere else, so it's not surprising it's the same haha :).
We remove the line numbers on mobile which I think helps.

Sounds like the solution we're leaning towards is leave it as is and possibly have some configurable styling for the code component.

[2019-09-02 07:53] dennismorello commented on #111
You are right, I'm closing this feature request.

[2019-09-02 07:53] #111 closed

[2019-09-02 17:09] brotzky commented on #111
Related to this, I need to fix the transition flash when you're on dark mode and visit Novela and it automatically switches to dark mode. There's already an issue open for that.

[2019-09-02 21:10] mabasic opened #115 "Component shadowing"
**Describe the bug**
Component shadowing does not work for files with a `.` inside the filename.

**Additional context**
More details in PR https://github.com/narative/gatsby-theme-novela/pull/97

Follow the progress of this to resolve: https://github.com/gatsbyjs/gatsby/pull/16424

Just wanted to open this issue for easier following of the progress of this issue.

[2019-09-02 21:13] mabasic opened #116 "Wrong tags on GitHub"
This is just sugar on top, but here it goes.

You have got tags on GitHub in this order:
- v0.0.7
- v0.0.8
- v0.0.11
- v0.1.0
- v0.2.0
- 5.0.0
- 0.6.0

Notice the inconsistency here. Maybe just leave the 0.6.0 tag, go from there and delete the others?

[2019-09-02 21:17] mabasic opened #117 "Horizontal scroll is back on Large images"
**Version of Novela you are using**
0.6.0

**Number of posts you have and which data source**
Local
https://novela.narative.co/understanding-the-gatsby-lifecycle-with-narative

**Describe the bug**
Horizontal scroll bar appears on article show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://novela.narative.co/understanding-the-gatsby-lifecycle-with-narative
2. View horizontal

[2019-09-02 21:58] brotzky commented on #116
Fixed

[2019-09-02 21:58] #116 closed

[2019-09-03 12:16] mabasic opened #119 "Articles and Footer Gradient issues"
**Version of Novela you are using**
0.6.0

**Number of posts you have and which data source**
Local, 2

**Describe the bug**
- When switching from light to dark theme gradient transition on the home page looks broken.
- Footer gradient on dark theme makes text on page unreadable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page (Make sure to have max 2 articles)
2. Click on th

[2019-09-03 12:18] mabasic commented on #119
I think that this is also related to a PR that I have submitted for the subscription box `z-index` #95

[2019-09-03 13:47] slorber commented on #110
Hi

I'm sorry @alfieqashwa but I don't understand what you mean. I checked my site and run yarn build and didn't have any such warning. Don't understand either what your screenshots mean

[2019-09-03 14:03] jpvalery commented on #115
Looking forward to the fix from Gatsby as my project is currently at a standstill without this feature 😅

[2019-09-03 16:42] mabasic commented on #115
@jpvalery I've managed to work around this issue by using component shadowing on files that do not have a dot in the filename but are parent files and then inside those files import my own shadowed files without a dot in the filename.

[2019-09-03 16:47] brotzky commented on #119
you can't transitions CSS gradients :(.
I think we'll have to transition the opacity between the two gradients and see if that works.

[2019-09-03 16:50] mabasic commented on #119
I'm kind of out of my depth here. I need to brush up on CSS gradients and transitions to provide any real help. The z-index hack was just a quick fix.

I've tried changing the z-index for the footer gradient, but it showed no change, and the articles gradient is set in the file which I cannot component shadow yet.

[2019-09-03 17:38] jpvalery commented on #115
Hmmm not sure to understand. How would that work for `Articles.Hero.tsx` for instance?

[2019-09-03 17:46] mabasic commented on #115
You can't shadow `Articles.Hero.tsx` with this approach because it is imported in `articles.template.tsx` which also has a dot in the filename. If you go one step above that; `articles.template.tsx` is imported in `gatsby-theme-novela/gatsby/node/createPages.js` which I think can't be shadowed.

[2019-09-03 18:05] brotzky commented on #115
Nice share, that would definitely work.

Really hope we're able to get shadowing working soon from Gatsby core. Seems be a reoccurring issue amongst Novela users. Unfortunate how our filenames cause it to break -- wish I realized when we started!

[2019-09-03 18:40] jpvalery commented on #115
@mabasic Yeah, my use case being on the Articles.Hero.tsx, I think I'm better to just wait for the fix from Gatsby :/
Although your example for Navigation.Footer.tsx could work for the other use case, I'm just unsure about doing the effort to do the workaround vs wait for the global fix :)

@brotzky no worries man, it's just an unfortunate edge case :)

[2019-09-04 05:32] alfieqashwa commented on #110
Hello Mr @slorber. The screenshot was taken from mobile browser (mobile chrome) showing that there is different font size in the code (pre) when open your blog https://sebastienlorber.com/handling-api-request-race-conditions-in-react from mobile browser. Also on my blog https://www.alfieqashwa.me/cool-site-using-gatsby-theme-novela. I checked too from official gatsby-theme-novela (without shadowin

[2019-09-04 15:50] brotzky commented on #99
This has already been opened with Gatsby and is a duplicate
https://github.com/gatsbyjs/gatsby/issues/16760

[2019-09-04 16:52] brotzky commented on #85
https://github.com/narative/gatsby-theme-novela/pull/120

Fixed in v0.6.1
I've made it so it doesn't set dark mode and flash. It will only go to mark mode (and stay in dark mode) if the user manually selects it. You can override the default color mode with gatsby-theme-ui-plugin and setting the mode to dark.

[2019-09-04 16:52] #85 closed

[2019-09-04 20:28] ChristopherBiscardi commented on #115
The fix has been merged. waiting for a release.

[2019-09-04 20:36] jpvalery commented on #115
Amazing news @ChristopherBiscardi ! Thanks for updating us :)

[2019-09-04 20:41] brotzky commented on #115
Thank you, @ChristopherBiscardi!

[2019-09-04 20:54] jpvalery commented on #109
Out of curiosity @bravo-kernel, do you think [GitHub Actions](https://github.com/features/actions) could be helpful for this?

[2019-09-04 22:30] jpvalery commented on #115
This has been published in `gatsby@2.15.7. Whenever Novela updates to this dep this issue can be closed

[2019-09-04 23:19] brotzky commented on #115
fantastic. will update today

[2019-09-05 00:46] jpvalery opened #121 "Mailchimp form is blocked by Firefox, Brave,..."
**Version of Novela you are using**
0.6.1

**Describe the bug**
This is a known bug from the original dependency ( See: https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/48 as well as https://github.com/benjaminhoffman/gatsby-plugin-mailchimp/issues/45#issuecomment-521813489)

I've tweeted @Firefox and @mailchimp and will report back if I hear anything

**To Reproduce**
Steps to re

[2019-09-05 01:30] brotzky commented on #115
Fix is published. Shadowing should work now 🙆‍♂!

v0.6.2

[2019-09-05 01:30] #115 closed

[2019-09-05 08:23] slorber commented on #110
thanks didn't notice that ;)

I'd rather have a smaller font when code is large

[2019-09-05 08:55] slorber commented on #85
thanks :)

[2019-09-05 08:58] slorber commented on #99
hi

I understand this one might be hard to solve and anyway it's quite hard to tell how much time an image or a code block takes to read anyway...

I would be fine if there was just an ability to override this reading time with frontmatter data. I'm not sure we can compute a perfect value automatically anyway

[2019-09-05 09:18] bravo-kernel commented on #109
@jpvalery ofcourse, any ci/cd platform will do. The consensus was to start with Travis because Github Actions was not available then. More details here https://github.com/narative/gatsby-theme-novela/pull/91. Since I cannot use this theme for my corporate website (due to enforced post images) I will not spend time on this so feel free to pick this up if you like. Implementing CD will speed up the

[2019-09-05 09:22] mabasic commented on #109
@bravo-kernel Why not fork it and then change it so that you can have posts without hero images?

If you fork it you will have more control and then just release it on npm

[2019-09-05 09:32] bravo-kernel commented on #109
@mabasic that would be an option but would also defeat the whole idea behind themes and the updates/shadowing benefits that come with it (especially as I am no theme expert where you/narative most definitely are).

To prevent misunderstandings... this not intended as a negative in any way, you folks are doing an most excellent job here.  It's just that this feature is a must for my intended blog i

[2019-09-05 09:38] smakosh opened #122 "Fails to fetch content from Contentful"
**Version of Novela you are using**
`^0.*`

**Number of posts you have and which data source**
1, Contentful

**Describe the bug**
I have one post and author on Contentful, Novela fails to fetch the content and assumes there is 0 content.

**To Reproduce**
Steps to reproduce the behavior:
1. `gatsby new novela-site https://github.com/narative/gatsby-starter-novela`
2. Install Contentful CLI and im

[2019-09-05 10:41] smakosh commented on #122
The issue that was causing this is that I didn't check neither "No" or "Yes" on the secret field on posts

[2019-09-05 10:41] #122 closed

[2019-09-05 11:29] smakosh opened #123 "yarn build is failing"
**Version of Novela you are using**
`^0.*`

**Number of posts you have and which data source**
2, Contentful

**Describe the bug**
`yarn build` fails

[code]

**Expected behavior**
Should build successfully

**Browser**
 - Chrome

[2019-09-05 12:38] alfieqashwa commented on #110
@slorber but how to reduce the font-size when it automatically gets bigger on mobile browser when we write long code on one line? do you have clue in where to modify?

[2019-09-05 13:13] jpvalery commented on #109
I've read a bit about Lerna and it seems indeed pretty easy.

Although it will require commits message to follow https://www.conventionalcommits.org/en/v1.0.0-beta.4/#summary to work really well and automatically generate the correct version number and changelogs.

That being said, I discovered that they have plugins to help with that such as https://github.com/conventional-changelog/commitlint/tr

[2019-09-05 13:57] bravo-kernel commented on #109
There is no need for a/that plugin if you follow conventional commits as that will automatically generate the release notes. To get comfortable just checkout a novela-theme brach and run the above, it will push to your branch. Nothing can break.

[2019-09-05 14:07] jpvalery commented on #109
Yeah but seen that most of the commits haven't followed that convention I felt that adding commitlint would help prevent errors. I've added it in a branch and works well so far.

Right now I'm trying to see if `lerna` is the best way to go or if `semantic-release` would be a more automated solution.
The only issue with `semantic-release` is that they currently don't support monorepo or workspaces

[2019-09-05 14:10] bravo-kernel commented on #109
I'm betting a bottle of 🍷  that lerna is the way to go. Automated releases do require onboarding commit messages. Furthermore, semantic-release is way less friendly on the versioning, check their issues.

[2019-09-05 14:14] jpvalery commented on #109
But isn't the goal of CD to have automated releases?

(Thanks a lot for chipping in! Learning a ton today 🤓 )

[2019-09-05 14:22] bravo-kernel commented on #109
Lerna IS the automated release tool ;)

[2019-09-05 14:33] dannyrb commented on #109
FWIW, we recently switched from many repositories to a monorepo. Having used `semantic-release` for the individual repository's we looked to leveraging it for the monorepo as well, but ran into a ton of issues.

After a while, we begrudgingly gave `yarn workspaces` + `lerna` a try, and it's been smooth sailing since.

[2019-09-05 14:34] jpvalery commented on #109
@bravo-kernel That's not what I understood from their documentation- but maybe something is escaping me 😕

@dannyrb thanks for sharing! I can't seem to find any doc to automate the release on npm and github - how did you manage that?

[2019-09-05 15:01] slorber commented on #110
i don't know, it just makes sense to do that imo ;)

[2019-09-05 15:51] dannyrb commented on #109
Lerna Config: https://github.com/OHIF/Viewers/blob/master/lerna.json#L6-L18
CI for NPM Publish: https://github.com/OHIF/Viewers/blob/master/.circleci/config.yml#L154-L171

`conventionalCommits` to use conventional commit syntax to bump version numbers, scoped to package, to indicate how versions should change when you run `lerna version`

Lerna has each command documented. Here is `version`: https

[2019-09-05 16:14] jpvalery commented on #109
Thanks both of you for sharing and helping! I've opened #124, feel free to comment/review it :)

[2019-09-05 17:02] brotzky commented on #123
Is it related to https://github.com/narative/gatsby-theme-novela/issues/122?

[2019-09-05 20:16] smakosh commented on #123
Nope, `yarn dev` works fine, but `yarn build` is failing

[2019-09-05 20:21] mabasic commented on #123
It think that it has something to do with Contentful because when using local it works. Maybe double check `secret` field on contentful. I don't know how it works, but I would look there.

[2019-09-05 22:25] brunogalliez opened #125 "Customize hero.heading using a react component"
I wish to add a link in `hero.heading`, but only accepts string.

[2019-09-05 22:29] brunogalliez commented on #125
![image](https://user-images.githubusercontent.com/13022409/64387803-680ab900-d013-11e9-8917-567d456dcdee.png)

[2019-09-05 22:59] brotzky commented on #125
In theory we could dangerouslySetInnerHTML and quickly resolve this.

Will give it a thought and see if that's the best approach.

[2019-09-05 23:22] brotzky commented on #125
@brunogalliez you can now add links in v0.6.4

[2019-09-05 23:23] #125 closed

[2019-09-05 23:31] brotzky commented on #123
@smakosh it could be out contentful export is out of date. I've exported latest.

make sure on Secret field in Contentful you select yes or no.

[2019-09-06 08:02] smakosh commented on #123
Yup it is selected but the build still fails
<img width="351" alt="Screen Shot 2019-09-06 at 9 01 33 AM" src="https://user-images.githubusercontent.com/20082141/64411383-f703e980-d084-11e9-9d4c-5885e4619f49.png">

[2019-09-06 08:09] smakosh commented on #123
Removing this https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/gatsby-config.js#L79 fixes my issue

[2019-09-06 08:11] smakosh commented on #123
somehow that schema doesn't contain `secret` field
<img width="561" alt="Screen Shot 2019-09-06 at 9 11 32 AM" src="https://user-images.githubusercontent.com/20082141/64411988-5a424b80-d086-11e9-8048-18280da5dbd9.png">

[2019-09-06 08:15] smakosh commented on #123
You should check if the user wants to use `local` or `contentful` as source of content and then use the right query, so here you should query `allContentfulPost` instead, I'll open a PR to handle this

[2019-09-06 08:16] mabasic commented on #123
@smakosh We need that field for the RSS feed to not include secret posts. The issue seems to be with contentful and `secret`, not with the query for the RSS

[2019-09-06 08:17] smakosh commented on #123
check https://github.com/narative/gatsby-theme-novela/issues/123#issuecomment-528759188

[2019-09-06 08:17] mabasic commented on #123
I did.

[2019-09-06 08:18] mabasic commented on #123
Even if you change the query, you would still need the `secret` field meaning the query remains the same.

[2019-09-06 08:19] smakosh commented on #123
changing the query works fine 👌

[2019-09-06 08:19] mabasic commented on #123
With `secret` field inside ?

[2019-09-06 08:19] smakosh commented on #123
<img width="538" alt="Screen Shot 2019-09-06 at 9 19 39 AM" src="https://user-images.githubusercontent.com/20082141/64412539-7b576c00-d087-11e9-9543-b840bb46ab82.png">

[2019-09-06 08:22] mabasic commented on #123
Hmm.. but shouldn't the original query be the same for local and contentful. I still think that the issue lies somewhere else. Maybe @brotzky can shed some light on this, since I don't know about how contentful is implemented in this theme.

[2019-09-06 08:43] smakosh commented on #123
I'm trying to access `themeOptions` from `gatsby-config.js` but fail miserably, can you advice if I can actually access it as you did on `gatsby-node.js`?

[2019-09-06 09:01] smakosh commented on #123
https://github.com/narative/gatsby-theme-novela/pull/126 👀 cc @brotzky @mabasic

[2019-09-06 15:54] brotzky commented on #123
Great PR

we do have different queries for Contentful and Local data

https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/gatsby/data/data.query.js#L96

[2019-09-06 15:56] smakosh commented on #123
Yup that's where I come up with the idea of the solution 👍

[2019-09-06 15:56] #123 closed

[2019-09-06 16:29] jcaguirre89 opened #127 "Unparsed structure in google search for Author"
I'm getting an issue with google search, that says there is an "unparsable data structure". The author entry in articles isn't being "turned" into the author's name, but instead is uploaded as an object. Here's the output from the google search console error:

![image](https://user-images.githubusercontent.com/34848638/64444210-7646ec80-d088-11e9-826e-bcf168e473cc.png)

This is a sample from the s

[2019-09-06 18:23] brotzky commented on #127
Oh shoot! Nice catch. will get try to fix that one asap.

[2019-09-07 08:45] mabasic commented on #127
Should description be without spaces ?

[2019-09-07 08:54] mabasic commented on #127
I'll send a PR for this.

[2019-09-07 14:52] brotzky commented on #127
Published v0.6.5

Thanks to @mabasic.

[2019-09-07 20:11] #127 closed

[2019-09-11 15:38] panosmakris opened #129 "netlifyCMS guide or intergration"
**Is your feature request related to a problem? Please describe.**
I am trying to post from the netlifycms and i get an error
"@narative/gatsby-theme-novela" threw an error while running the createPages lifecycle:
6:34:04 PM:     You must have at least one Author and Post.

**Describe the solution you'd like**
a guide or integration

**Describe alternatives you've considered**
Integration

**Addit

[2019-09-11 16:19] brotzky commented on #129
I started on this but found Netlify CMS too cumbersome to setup for Novela. I'm not very familiar with the project so this was my first go. Using it in a monorepo was the main issue i ran into.

There was a WIP PR for this.
https://github.com/narative/gatsby-theme-novela/pull/56

Would love a PR if you're able to add Netlify CMS!

[2019-09-12 22:58] ch4nd4n opened #130 "custom articlePermalinkFormat"
**Version of Novela you are using**
0.0.8

**Number of posts you have and which data source**
5

**Describe the bug**

I want to customize `articlePermalinkFormat` to :year/:month/:day/:slug it defaults to `:slug` right now
Eg. from http://localhost:8000/why-narative-loves-gatsby to http://localhost:8000/2019/01/01/why-narative-loves-gatsby

I've tried

[code]

above does not work

**To Reproduce*

[2019-09-13 11:08] panosmakris opened #131 "spaceid is incorrect"
Hello
I am trying pass data from contentful in novela hosted on gatbsy but i get the following error

2:01:55 PM: Starting to fetch data from Contentful
2:01:55 PM: Fetching default locale
2:01:55 PM: error
2:01:55 PM: failed during stage 'building site': Build script returned non-zero exit code: 1
2:01:55 PM: Accessing your Contentful space failed.
2:01:55 PM: Try setting GATSBY_CONTENTFUL_OFFLIN

[2019-09-13 15:32] #109 closed

[2019-09-13 15:55] panosmakris commented on #131
https://github.com/panosmakris/gatsby-starter-novela

I am sure I pretty much did everything. I even hardcoded them. It just won't pass work.

[2019-09-13 16:14] brotzky commented on #131
You have to name the file `.env` and put in the variables there. You also have to add it to Netlify.

`.env`
[code]

and it Netlify add it as well.
http://d.ntve.co/cjANwR

[2019-09-13 16:37] panosmakris commented on #131
thank you for the inputs but I can see the screenshots

[2019-09-13 16:41] brotzky commented on #131
<img width="818" alt="Screen Shot 2019-09-13 at 9 40 39 AM" src="https://user-images.githubusercontent.com/8007686/64879323-920f3d00-d60a-11e9-82c7-52ae6a0bc7f8.png">

Here's a better image.
Make sure the variables are also defined in Netlify.

Docs: https://www.netlify.com/docs/continuous-deployment/#environment-variables

[2019-09-13 16:42] panosmakris commented on #131
I have done that,
I seem to fail at the gatbsy-config.js

[2019-09-13 16:45] brotzky commented on #131
I can't help too much beyond that. I don't believe it's a bug in Novela. I think there's something wrong with how you're setting the variables locally or on Netlify.
Double check you have the right values set and double check they're being set correctly.

[2019-09-13 16:46] panosmakris commented on #131
You are probably correct since I now get a different error

7:44:41 PM: Build ready to start
7:44:43 PM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
7:44:43 PM: build-image tag: v3.3.2
7:44:43 PM: buildbot version: 38cc4984170575781fef71bee035f0855939acb8
7:44:44 PM: Fetching cached dependencies
7:44:44 PM: Starting to download cache of 199.4MB
7:44:45 PM: Finished downloading ca

[2019-09-13 16:48] brotzky commented on #131
Ah strange, check out this
[code]

I'd google around to see what that means. I've never run into that before.

[2019-09-14 01:53] ismailElazizi opened #134 "Add Support for Behance object in `social` array of gatsby-config.js"
As a designer, I want to be able to add my Behance portfolio as a Social Icon to Navigation Footer.

so user can add

{
  name: `behance`,
  url: `https://www.behance.net/ismailelazizi`,
},
to gatsby-config.js and a Behance Social Icon will display on the Navigation Footer.

[2019-09-14 16:10] brotzky commented on #134
https://github.com/narative/gatsby-theme-novela/pull/135

Upgrade to latest and you can now use behance. by the way, the "name" is not required anymore and as it checks the domain name instead.

[2019-09-14 16:10] #134 closed

[2019-09-14 16:10] #131 closed

[2019-09-14 16:11] brotzky commented on #129
unfortunately, I can't help you debug your Netlify integration. I'd recommend googling around or reaching out to the Netlify CMS team.
Sorry!

[2019-09-14 16:11] #129 closed

[2019-09-14 16:12] brotzky commented on #110
Are people still seeing this? I'm unable to reproduce and would like to close this issue if it's gone.

[2019-09-16 06:59] alfieqashwa commented on #110
So far, I don't see it anymore after updated to version 0.6.5. Thank you @brotzky

[2019-09-16 08:41] ch4nd4n commented on #130
No it does not. I am trying `0.7.0` will follow up, but so far running into multiple issues due to version change.

[2019-09-16 09:13] sabbiu opened #136 "How do I modify html of author page?"
Which file do I need to edit? I want to make few changes to author page.

[2019-09-16 11:43] nnnkit commented on #136
You can use [Gatsby shadowing](https://www.gatsbyjs.org/blog/2019-04-29-component-shadowing/) to overwrite the existing layout or component.

You need to shadow this component https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/src/templates/author.template.tsx

[2019-09-16 15:48] jpvalery opened #137 "Netlify build fails when trying to update to gatsby@2.15.16"
**Version of Novela you are using**
0.7.0

**Number of posts you have and which data source**
Local

**Describe the bug**
I'm trying to update to gatsby@2.15.16 through Renovate bot but the build fails with that new version
https://github.com/MontrealPhotoClub/montrealphotoclub.en/pull/36

I tried rebasing the PR and "Clear cache and deploy" on Netlify but I keep running into that error.

Any idea

[2019-09-16 16:07] brotzky commented on #136
@sabbiu which section of the author's page?

[2019-09-16 16:07] #110 closed

[2019-09-17 14:57] alfieqashwa opened #138 "Syntax highlight: the font-size gets bigger on mobile browser view if we write long code on a line."
**version 0.6.5**
**Local data source**

**Describe the bug**
on syntax-highlight, the font-size gets bigger on mobile browser view when write long characters.

**To Reproduce**
Steps to reproduce the behavior:
Try add this:

[code]
and compare with
[code]
then the first one is bigger than the second one.

**Expected behavior**
it should not gets bigger. In mobile browser view (Chrome, Firefox, Sa

[2019-09-17 15:30] jpvalery commented on #137
🕵 looking into `node_modules` I found that while `node_modules/graphql` was at 14.5.6, multiple other dependencies were still using `graphql@14.5.4`.

I listed the following dependencies using `graphql@14.5.4`:
* `node_modules/@narative/gatsby-theme-novela`
* `node_modules/babel-plugin-remove-graphql-queries`
* `node_modules/gatsby-plugin-emotion`
* `node_modules/gatsby-plugin-feed`
* `node_module

[2019-09-17 15:37] jpvalery commented on #137
Fix works

[2019-09-17 15:37] #137 closed

[2019-09-17 16:26] brotzky commented on #138
Interesting! Thanks for the report, will take a look.

[2019-09-17 16:27] brotzky commented on #137
Thanks JP :)

[2019-09-17 20:07] soumikcv opened #139 "Add Title and Description meta-data to author page?"
Does passing the author name as title and bio as description on SEO component in author Template make more sense?
From SEO perspective as well, it should make more sense right?

Or is it something you want to keep open for customisation using component shadowing?

[2019-09-17 21:05] jpvalery opened #140 "Accessibility score is 98/100 on Lighthouse"
Been working on trying to optimize that and was wondering if it's something that you'd like to implement.

Basically changing colors.ts to
[code]

and updating the css of `MetaData` in `@narative/gatsby-theme-novela/src/sections/articles/Articles.List.tsx` to a higher opacity (couldn't test as shadowing didn't work on this, but I'm guessing that 0.55 should do the trick).

I don't know if that's i

[2019-09-18 06:28] sabbiu commented on #136
@brotzky top part of the author page
![image](https://user-images.githubusercontent.com/19733021/65120593-9920bb80-da0d-11e9-8a8b-22070e44ff77.png)
I wanted to add more details about author (and maybe remove the blogs written by him)

[2019-09-18 16:00] AryanJ-NYC opened #141 "TypeError: Cannot destructure property `local` of 'undefined' or 'null'."
**Version of Novela you are using**
0.7.0
**Number of posts you have and which data source**
Ten local posts.

**Describe the bug**
The `sources` object in `gatsby-theme-novela` in `gatsby-config.js` is required. This would normally be fine but this is not described in the [documentation](https://github.com/narative/gatsby-theme-novela#step-3-using-narativegatsby-theme-novela).

A better fix may b

[2019-09-18 16:24] brotzky commented on #141
The solution you described should be the intended behaviour. Will give this one a fix. Thanks for the report!

[2019-09-18 16:26] brotzky commented on #139
Yes, you're right. That does make more sense.

I think it's a solid default we can use instead of the current implementation.

[2019-09-18 16:27] brotzky commented on #140
@tcostaco this is your territory.

We initially tried to keep the accessibility score high, but were okay with it not being 100/100 at the time of release.

[2019-09-18 16:33] soumikcv commented on #139
That's awesome! Can I send a PR? My beginner brain has been trying to get into more open source.

[2019-09-18 17:49] #139 closed

[2019-09-18 17:50] brotzky commented on #136
I'd recommend cloning down this repo and learning which components make up which section.

Adding details about the author are added in the author data
and removing the blogs written by them would be done by removing the articles list in the author.template.tsx

[2019-09-18 17:50] #136 closed

[2019-09-19 05:22] tcostaco commented on #140
Hey @jpvalery!

These are great suggestions. Although it's gonna be challenging getting 100/100 on both dark and light mode. Our current grey #73737D works very well in both colours, only failing in WCAG AAA (super rare case), whereas #545454 will drastically drop accessibility on dark mode to 2.47:1, failing in all levels. Unless I misunderstood the suggestions, I'd probably sacrifice these last

[2019-09-19 09:08] joeynimu opened #143 "TypeError: fsevents.watch is not a function"
I just installed the theme and when I try to do `yarn dev` I get the following error.

[code]

Info:
[code]

[2019-09-19 11:54] nnnkit opened #144 "support for blog category"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-19 13:15] jpvalery commented on #140
My bad, I thought I managed to run the Lightspeed audit on the dark mode as well. 🤦‍♂

As I said, it's not that important and can be easily overwritten by shadowing :) So if someone is striving to get a perfect score across the board, they can do it on their own. And anyways, 98/100 is a pretty respectable score 😛

[2019-09-19 13:15] #140 closed

[2019-09-19 16:08] brotzky commented on #144
This is definitely something that gets brought up and discussed. Ultimately we've decided to keep Novela barebones without categories, tags, and search for the time-being.

If the community wanted to implement and submit a PR that would be awesome. Otherwise, I can't guarantee categories will be added anytime soon.

[2019-09-19 16:10] brotzky commented on #143
Huh, interesting -- haven't seen this issue before. This would be an issue with your node version but it appears you're running 10.3.0 or later.

Regardless, could you try removing the yarn.lock and upgrading both Node and Yarn and re-installing?

[2019-09-19 18:33] #144 closed

[2019-09-19 18:34] #101 closed

[2019-09-19 19:39] joeynimu commented on #143
I had tried that and it didn't work.
What worked is I installed `node v >=12` and it seemed to work. Closing this for now, thanks for the awesome theme I love it. Cheers!

[2019-09-19 19:39] #143 closed

[2019-09-20 00:13] AryanJ-NYC opened #146 "Document commitlint requirements in .CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
I love the addition of commitlint! It'll standardize commits (plus it's a fun toy to play with). However, it may be frustrating for some devs to a) find where the rules for committing are (`.commitlintrc.yml`) and understand how to parse those rules.

**Describe the solution you'd like**
I'd like `CONTRIBUTING.md` to describe the r

[2019-09-20 14:59] brotzky commented on #146
When you write an incorrect commit it should link you to the docs in the CLI?
But we can also add better documentation or a direct link to their docs.
Thanks for the feedback.

[2019-09-20 14:59] #141 closed

[2019-09-20 14:59] brotzky commented on #141
Thanks so much for the fix

[2019-09-20 15:14] AryanJ-NYC commented on #146
@brotzky I can confirm that it does lead me to their docs. I meant more of the specific rules that Narative set forth. Just an idea. It may be overkill and is definitely a low priority ticket.

Hacktoberfest is coming. 🤔🤔

[2019-09-21 16:52] vinicioslc opened #148 "HELP - What i need know to implement categories in this theme ?"
Hi guys im new on gatsbyjs and reactjs but i have long background in web with Vuejs e Wordpress and mobile APPs with Xamarin e Flutter.

Im interessed to contribute with this project but i don't know which components i need to change or concepts behind gatsbyjs are needed to add support for categories and tags.

So, if anyone can give me a direction which terms i need know or where i see the code

[2019-09-21 18:44] brotzky commented on #148
There's a decent amount of work to get Categories and it touches most of the codebase.

In the past when people have requested it we've decided not to implement it because it requires a new design and code changes. If there's more and more demand (which seems to be the case) we'll consider it. Right now we also don't have much time to handle such a large update.

If you want to implement categorie

[2019-09-22 10:33] nnnkit opened #149 "If I add a new field in frontmatter of the blog posts how to add it to the `Article` schema"
I am trying to implement a category page for this theme and added a new field in the markdown file. How can I add that field in the `Article` schema using child theme.

[2019-09-22 14:05] dennismorello opened #150 "Use IntersectionObserver API in Progress Component"
**Is your feature request related to a problem? Please describe.**
At the moment, the Progress component uses two event listeners (one for the `scroll` event and one for the `resize` one) on the `window` object to get information about the amount the user has scrolled the page. This works fine, but this is a synchronous solution.

**Describe the solution you'd like**
It would be nice if the Progre

[2019-09-23 16:29] brotzky commented on #150
Agreed. IO is the right tool for this job now. Would love some help on this one :)

[2019-09-23 16:30] brotzky commented on #149
That's a solid question and I'm not entirely sure how a child theme would handle this.
You'd have to modify Novela in order to do this, but don't quote me on that.

[2019-09-23 16:38] nnnkit commented on #149
@brotzky I was able to figure this out. I did it by querying the parent element of `Article` i.e `Mdx` and using `onCreateNode` to add a field using `createNodeField`. Example:

[code]

[2019-09-23 17:00] brotzky commented on #149
That's awesome @nnnkit. Glad you were able to figure it out!

[2019-09-23 17:00] #149 closed

[2019-09-25 14:55] betodasilva opened #151 "Hero is missing for [post] ─ Netlify CMS integration"
Hi guys,
I'm trying to integrate with netlify CMS and everything works fine right now except the hero image.

I use the [image widget](https://www.netlifycms.org/docs/widgets/image/) to select the hero image, and it gives me an absolut path to `/static/assets/[file-name.extension]` where the file is stored.

When I try to build the console says the _hero field is missing._

Could you help me solve

[2019-09-25 19:10] brotzky commented on #151
Have you tried removing the `local` source? It's on by default.
It might not be related to Netlify.

[2019-09-26 03:34] betodasilva commented on #151
Yeah, tried right now but it shows more errors than before :cry:

[2019-09-26 04:32] betodasilva commented on #151
**To Reproduce**
Steps to reproduce the behavior:
1. Move the hero image to any folder inside static. i.e /static/assets
2. Add that path to the hero field. i.e `hero: /assets/hero.jpg`

[2019-09-26 13:33] nnnkit commented on #148
@vinicioslc added the `category` feature to this theme by forking it you can have a look https://github.com/nnnkit/gatsby-theme-novela/tree/AN-category.

[2019-09-26 13:39] nnnkit commented on #148
@brotzky can I send a pull request or you can give me checklist that I need to complete before sending pull request. The category page look like this
![screencapture-localhost-8000-category-gatsby-2019-09-26-19_04_30](https://user-images.githubusercontent.com/3122626/65692868-fdd4b980-e090-11e9-93b4-8cdc2341a9fa.png)

[2019-09-26 13:43] vinicioslc commented on #148
OMG *0 * i will look this fork

[2019-09-26 16:36] brotzky commented on #148
Very cool! Also fantastic that you kept the design consistent. I think all we need is a cleaner Hero and a way to see the categories and click into them on posts. If you like, create a PR and we'll work through it together. We can also merge it into a branch and I'll work on top of it and make sure it's consistent with our current designs.

[2019-09-26 16:38] brotzky commented on #151
I believe the path should be relative from the file to the asset. So your `hero` path is incorrect?
Could you try updating it to something like '.../../static/assets/file-name.extension`?
Any reason you're putting the hero files in a different folder than the post? Is this a Netlify CMS thing?

[2019-09-26 16:58] alfieqashwa commented on #138
@brotzky Sir, I shadowing components/MDX like this
https://github.com/alfieqashwa/alfieqashwa.me/commit/983e113f9eb6e62f3ceeb6ed82d8e79dfcb1559c

The code on mobile browser view is better, I guess. Probably you find more better.

[2019-09-26 19:56] betodasilva commented on #151
I've already tried

Yeah, definitely.

[https://github.com/netlify/netlify-cms/issues/513](https://github.com/netlify/netlify-cms/issues/513)

[2019-09-26 21:07] Vacilando opened #152 "How to display pages fetched from Drupal"
This is one of the best Gatsby themes to date!

Our content however is neither in local files or in Contentful, but in Drupal 8. We can easily write GraphQL queries to get the pages from Drupal.

The question is how do we get the Novela theme to display the content we got from Drupal?

[2019-09-27 04:57] nnnkit commented on #148
@brotzky Glad you liked it. Can you please create a branch for this where I can merge it.

[2019-09-27 16:19] brotzky commented on #152
Thanks, Vaciland <3!

We'd need to setup Drupal as a data source within the theme similarly to Contentful. Personally, I have no experience with Drupal so won't be much use.
If you'd like to attempt it, you can check out how Contentful is setup and then do something similar for Drupial.

[2019-09-27 16:20] brotzky commented on #151
Ahhhh, that's too bad. Not sure I can help beyond that as it seems to be out of scope of Novela. Sorry, @betodasilva.

[2019-09-27 16:22] brotzky commented on #148
@nnnkit created `@features/categories`

https://github.com/narative/gatsby-theme-novela/tree/%40feature/categories

[2019-09-27 16:41] nnnkit commented on #148
@brotzky pull request  sent #153

[2019-09-28 13:12] duncanjbain opened #154 "[Help] Helmet SEO / Twitter card metadata not updating on build"
Hi guys, I'm pretty new to both React and Gatsby. I've got a demo site up and running, but the SEO and Twitter metadata seems to still be using images and text from novela.narative.co.

A link to the post https://cranky-carson-a05f00.netlify.com/my-first-post-using-novela-by-narative and an example of the metadata below:

`<meta data-react-helmet="true" name="twitter:image" content="https://novela

[2019-09-28 15:36] betodasilva commented on #151
No problem mate @brotzky
I'll see if I can do some workaround.

Thanks for this amazing theme.

[2019-09-29 05:44] #151 closed

[2019-09-29 05:46] brotzky commented on #154
Check out the `www` repo as an example of how to set the preview image.
https://github.com/narative/gatsby-theme-novela/tree/master/www/static

You'd have to replace that, I believe. Let me know if it's still unclear.

[2019-09-29 10:33] duncanjbain commented on #154
Hi @brotzky, thanks for the response!

I think for the Twitter card preview, the header tags are generated and use the hero image specific to each post, rather than a static single image.

For example, have a look at the Twitter tags on https://novela.narative.co/understanding-the-gatsby-lifecycle-with-narative, they use the hero image as the preview image.

My site seems to be generating preview

[2019-09-29 11:04] duncanjbain commented on #154
Looks like it's working now, might have just needed another build!

[2019-09-29 11:04] #154 closed

[2019-10-01 11:56] MatthewTrout opened #156 "Social Stackoverflow / custom value"
Would be useful to have **stackoverflow** as a social option, but perhaps more pertienent, is there any simple way the social behaviour could be adapted to accept custom social configuration as part of the `gatsby-config.js` for example, such as icon / colours etc?

Just wanted to add that this is a stunning theme, and a really great piece of work!

[2019-10-01 14:53] nnnkit opened #157 "missing prettierrc config file"

[2019-10-01 20:28] MatthewTrout opened #158 "Safari 12.1 macOS unresponsive"
**Version of Novela you are using**
0.8.2

**Number of posts you have and which data source**
Local, 1 post

**Describe the bug**
On Safari 12.1, macOS 10.13.6,
<img width="245" alt="Screen Shot 2019-10-01 at 21 12 46" src="https://user-images.githubusercontent.com/4378253/65997652-a6b85580-e491-11e9-853e-497eefb2d404.png">
When on any page (home, an individual post, etc) the cpu of my machine spi

[2019-10-02 07:47] vikingmute opened #159 "Support for custom links in the header"
Hey everyone,
Does this theme support custom links (eg, About, Contact ...) in the header besides the dark/light mode switcher?

Thank you.

[2019-10-02 17:26] brotzky commented on #158
This is wild. Thanks for bring it up. Definitely need to look this up. Does the same occur on novela.narative.co for you?

[2019-10-02 17:26] brotzky commented on #159
No, not right now. Are you looking to build around this theme or integrate it with some Other Gatsby themes?

[2019-10-03 01:56] vikingmute commented on #159
@brotzky I just started using Gatsby and try to do some customization around this theme.

[2019-10-03 04:39] nnnkit opened #160 "Not able to use shadowing on data.query.js file"
I am trying to shadow the `data.query.js` file to get the desired output. But it's not working. Can you please help @ChristopherBiscardi

[2019-10-03 08:55] MatthewTrout commented on #158
Looks like that's a yes!  I made sure all plugins were disabled also, just in case something was getting a bit excited with dom manipulation.

![safari2](https://user-images.githubusercontent.com/4378253/66112949-b3d56180-e5c3-11e9-8fab-b6f8740a101f.gif)

[2019-10-03 18:02] brotzky commented on #159
I'd recommend forking this theme and building a site around it if you want. There's no ability to add custom links to the header right now.

[2019-10-04 03:17] vikingmute commented on #159
Thx @brotzky, I'll close this issue for now.

[2019-10-04 14:31] vikingmute commented on #159
@brotzky Today I tried to make component shadowing work from your document ,https://github.com/narative/gatsby-theme-novela#component-shadowing
My custom logo works like a charm, so I tried to do the same thing for the links part.
 I found this area in **/components/Navigation/Navigation-header.tsx**
So I created a file here: **src/@narative/gatsby-theme-novela/components/Navigation/index.js**, bu

[2019-10-05 17:12] duncanjbain opened #161 "Shadowing Site Header Metadata"
Hello,

I'm trying to remove the following from my sites header metadata section:
`shrink-to-fit=no`

I've searched the repository for this piece of code, and it's located in gatsby-theme-novela/www/src/html.tsx. I've tried shadowing this file, but I'm not having any luck.

What is the purpose of the www folder? I thought shadowing should be done by creating a file in a directory such as site_root

[2019-10-07 17:11] brotzky commented on #161
`www` is so we can run it locally and develop the theme against a site that is using it. You can't run only the theme, you have to use it in a site to be able to build it.

Ill check out why shadowing isn't working.

What's the reasoning for removing `shrink-to-fit=no`? Maybe it's worth removing it by default.

[2019-10-07 17:19] jpvalery commented on #159
@vikingmute check https://github.com/MontrealPhotoClub/montrealphotoclub.en/blob/master/src/%40narative/gatsby-theme-novela/components/Navigation/Navigation.Header.tsx - I added an icon there and you could add links at L70 with a `<Link to >` thingy.

[2019-10-07 20:06] duncanjbain commented on #161
Aha, that's what I thought, shortly after I posted the question!

I can't seem to see why it shouldn't work. But it looks like the theme seems to be using the www/src/html.tsx file for the HTML head element generation, rather than gatsby-theme-novela/src/components/SEO/SEO.tsx. There is no mention of `shrink-to-fit=no` in SEO.tsx, only html.tsx.

When running a Lighthouse audit for PWA's I was get

[2019-10-08 02:48] bntzio opened #163 "Logo link should go to base path"
Let's suppose I set the `basePath` to be `/blog` or `/home` for my site in the `gatsby-config.js` novela theme plugin options.

So my index would be `mysite.com/blog`.

Right now if I navigate through the posts (or any other pages) and then I want to go back to the index (by clicking the logo) I always go to the `/` path, so there's no way to go to the index path by clicking a DOM element in my si

[2019-10-08 02:59] bntzio commented on #163
I just submitted a PR that solve this (#164)

[2019-10-08 03:07] vikingmute commented on #159
@jpvalery  thanks so much, I found my file name is incorrect, I have to name it exactly the same with the original file: Navigation.Header.tsx. Now it works fine.

[2019-10-08 03:07] #159 closed

[2019-10-08 04:26] bntzio commented on #163
Although we can let the user define the root or index path of their site by specifying a `rootPath` or `indexPath` option in the theme config.

That way novela can offer the flexibility to choose at what path should the theme be installed (as defined by the `basePath`) and choose the root/index path (defined by `rootPath` or `indexPath`) to set that as the logo link of their site, thus redirecting

[2019-10-08 11:32] perteraul opened #165 "Dynamic logo fill color"
Thanks for the amazing work, @brotzky!

I've gone through the documentation and examples and I cannot find a way to use the Theme-UI variables as a fill={'primary'} for the Logo/index.js component shadowing.

What I'm trying to do is to change the fill color of some svg path's when the dark mode kicks in. Is there a way of doing this?

[2019-10-08 11:33] perteraul commented on #165
Should also mention that passing the fill={'primary'} doesn't work.

[2019-10-08 16:34] perteraul commented on #165
That did it! Thank @jpvalery.

[2019-10-08 16:35] #165 closed

[2019-10-08 20:56] brotzky commented on #165
Thanks @jpvalery

[2019-10-08 20:57] brotzky commented on #163
Agreed, `rootPath` makes sense to me. Thanks so much for the PR.

[2019-10-08 20:58] brotzky commented on #161
Sounds reasonable to have as a default, although maybe it doesn't do anything as you mentioned. Open to a PR for this ☺️!

[2019-10-08 20:59] brotzky commented on #159
Thanks @jpvalery

[2019-10-08 22:52] bntzio commented on #163
Done! 😄

[2019-10-08 23:11] wilmanbarrios opened #167 "Change the way that ArticleMeta render the published date and reading time"
Hey folks,

I want to change the way that ArticleMeta render published date and reading time, is there a way to accomplish that? :thinking:

[2019-10-09 07:05] jaywick opened #168 "Custom 404 pages"
This is more of a question –

I am trying to extend theNovella theme with a **custom 404 page**. I've tried adding a `404.tsx` which is unfortunately not picked up. I am happy to submit a PR to simplify the process if it requires some coding. But was hoping for some pointers at where to look :)

Apologies if this is the wrong place to post.

[2019-10-09 16:16] brotzky commented on #168
Can you link me to the code you're writing?

The 404 page should be handled the same as any Gatsby page. It's not part of Novela on purpose.

[2019-10-09 16:20] brotzky commented on #167
This can be configured within the article MDX if I remember correctly. It's possible reading time can't be manually overriden. What's the reasoning for wanting to change those?

Check this out: https://github.com/narative/gatsby-theme-novela#post

[2019-10-09 16:24] brotzky commented on #160
@nnnkit could you link me to the repo you're working in? It's possible you have an incorrect path that's causing shadowing to fail.

[2019-10-09 16:25] brotzky commented on #156
Thanks Matthew!

We can add stackoverflow! Agreed on the custom icons... just need to find the time to build something to handle that.

Do you happen to have their icon?

[2019-10-09 16:26] brotzky commented on #157
PR would be welcomed for this. Right now there is an `.editorconfig` which seems to be handling most of the prettier issues.

[2019-10-09 16:26] #51 closed

[2019-10-09 16:27] brotzky commented on #99
Yes, overriding with custom reading time might be the way to go.

[2019-10-09 16:28] brotzky commented on #158
Thanks for the gif! Appreciate it. Will have to dive into this one. Damn Safari..

[2019-10-09 16:38] wilmanbarrios commented on #167
I wanted to remove de reading time, and then remenbered that i could use component shadowing to adjust that little part.

[2019-10-09 16:38] #167 closed

[2019-10-09 17:23] #160 closed

[2019-10-09 17:45] duncanjbain commented on #161
So turns out the reason I could only find a mention of `shrink-to-fit=no` in the repo was in the www/src/html.tsx file was because it's part of the default Gatsby default-html.jsx file. If I want to open a PR to make the change to remove it, it'll have to be on the Gatsby repo, haha!

[2019-10-09 18:58] brotzky commented on #161
No need for PR, maybe.
Check this out: https://www.gatsbyjs.org/docs/custom-html/

[2019-10-09 18:58] #157 closed

[2019-10-09 18:59] brotzky commented on #167
Awesome! If you have issues shadowing let me know.

[2019-10-09 19:02] wilmanbarrios commented on #167
I want to change the date format of the allArticle query, is there a easy way to change that

[2019-10-09 19:08] duncanjbain commented on #161
Yeah, that's the link that lead me to looking at my .cache/default-html.js file, which contains the `shrink-to-fit=no`. Issue closed I guess!

[2019-10-09 19:27] MatthewTrout commented on #156
Yeah that's fair! I'll take a look at doing a PR tomorrow, or I'll link an appropriate icon here.

[2019-10-09 19:29] MatthewTrout commented on #158
No worries! Agreed, Safari is a pain.  To be honest I deliberately hold back on macOS Safari updates, just to purposefully find issues with it in development, so that I know it's probably the worst situation a page can appear 😂

[2019-10-10 01:18] brotzky commented on #161
Damn :| Well, hope you're able to resolve it eventually on their side! Thanks for the info about that property.

[2019-10-10 01:18] #161 closed

[2019-10-10 01:18] brotzky commented on #156
Thanks a ton, @MatthewTrout! Merged.

[2019-10-10 01:18] #156 closed

[2019-10-10 14:18] #163 closed

[2019-10-10 15:01] wilmanbarrios commented on #160
Hi @brotzky, I have the same problem, can you check my src folder to see if I am doing right the shadowing of the data.query.js file?

![Screenshot from 2019-10-10 10-37-52](https://user-images.githubusercontent.com/20175215/66580122-e1825380-eb4b-11e9-98b3-c91742b359ef.png)

[2019-10-11 15:45] Haja-andri commented on #138
Hi Dennis,

I have fixed this locally a while ago. I'd like to submit a PR but I am having trouble committing and push my fixe.
Following are the steps I have followed

- Forked the repo
- Cloned locally
- Created a branch
- Fixed and tested locally
- git add .
- git commit -m "Fixe for mobile view when code overflow the box size and font size get too big"

But the commit here give me back the err

[2019-10-12 20:58] mehrdad-shokri opened #172 "RTL support"
Thanks for your efforts in building this theme.
Is there a way to make the theme rtl through configs?
If not can you give a brief overview of how I can change core codebase to accomplish this?

[2019-10-13 00:57] brotzky commented on #172
Thanks so much!
Unfortunately, RTL is not supported right now.
I think a quick win would be inserting text-direction property globally in the CSS. You could even do this without modifying the theme's codebase.
The proper implementation would touch most of the codebase as we'd want to add `dir="rtl"` and a way to configure RTL as an option.

[2019-10-13 01:01] brotzky commented on #160
That looks like the correct shadowing. This might actually be a bug within Gatsby Theme's Component Shadowing itself.

I am assuming you're exporting correcting from `data.query.js`?

Correct path:
http://d.ntve.co/JI4fM0

[2019-10-13 01:05] brotzky commented on #138
Follow the commit message template found in the "Get help: LINK" guide in the error message!

Check the most recent commits to this repo to see some examples of commit messages as well:
https://github.com/narative/gatsby-theme-novela/commits/master

I think after that you should be fine to commit. Really appreciate the fix :)!

[2019-10-13 09:56] Haja-andri commented on #138
Thanks for getting back to me on your weekend Dennis! I managed to create the PR, I hope you will find it helpful. This is in fact my first ever PR to contribute to an external repo (started learning to code 4 months ago, that explains my questions above :). I am personally using this theme for several reasons. Firstly because it is abvioiusly  just absolutely beautiful. And Secondly, because I wa

[2019-10-13 09:58] mehrdad-shokri commented on #172
Generally adding rtl suuport for a site requires manual iteration of all pages and changing it's design.
setting ``text-direction`` property ``right`` is not a practical approach. It generally requires changing page layout direction.
Maybe we can add a ``direction`` option in ``gatsby-config.js`` and I figure out a way to add rtl support for this theme? Would that be good for you? I mean would you

[2019-10-13 15:16] brotzky commented on #172
Would love to learn more about supporting text direction. a PR to allow Novela to support text direction would be really appreciated.

[2019-10-13 15:18] brotzky commented on #138
Thats awesome @Haja-andri :) Super cool to hear and that's a fantastic accomplishment.

Will checkout the PR.

[2019-10-14 20:53] mehrdad-shokri commented on #172
Thanks. will try to separate some time to start working on it. Just for a brief overview of styling, what styling strategy have you taken? Do you use JSS?

[2019-10-14 20:57] mehrdad-shokri commented on #172
To be more accurate what I'm trying to accomplish is more than text direction, with adding rtl support, for instance most of the ``margin-rights`` turns to ``margin-left`` and so on. So It wouldn't be just text-direction. Would that be ok with you?

[2019-10-15 00:48] brotzky commented on #172
Yes, as long as it's properly supporting the feature that's ok.

[2019-10-15 05:28] alfieqashwa commented on #138
Hi @Haja-andri. I looked at your blog. That's awesome customization. Agree, Novela is really beautiful theme.

[2019-10-15 15:35] mannp opened #174 "Question: How to Centre Site Text and add html underneath it."
Great theme, thanks for your work :)

Is it possible to have the site text centered rather than left justified at all? and also where to put additional text below the site title?

I have read this -> https://www.gatsbyjs.org/docs/custom-html/ and it seems snippets of info without any explanation :-/

Thanks in advance

btw your site menu is very cool too :)

Also, I notice from your own website yo

[2019-10-15 15:53] brotzky commented on #174
I'm not completely following what you'd like to do? What do you mean by "How to Centre Site Text and add html underneath it". Do you have any screenshots or examples of what you'd like to achieve?

Appreciate the kind words about narative.co.
You can see the codebase to our site at https://github.com/narative/narative.co

[2019-10-15 15:54] brotzky commented on #138
This was merged by the way! Download latest to have some fun.

[2019-10-15 15:54] #138 closed

[2019-10-15 16:05] aashanand opened #175 "Highlighted text to share does not carry over to LinkedIn"
**Version of Novela you are using** Whichever version is on novela.narative.co

**Number of posts you have and which data source**
(Local, Contentful options) N/A

**Describe the bug**
When text on a blogpost is highlighted and shared to Twitter, the highlighted text carries over into the Twitter window. For share on LinkedIn, the behavior is different. The highlighted text does not make it into t

[2019-10-15 16:06] mannp commented on #174
I'd like to center the hero heading text on the main page, just like the text for each individual post.

Ideally I was wanting to add the ability for an mdx file to be displayed under the hero heading text and before the posts start.

I am trying to create a simple landing page, so to have the hero heading and some simple text underneath that, then comes the posts.

[2019-10-15 16:50] wilmanbarrios commented on #160
Sorry for the late response.

Yes @brotzky, i just copy the `data.query.js` file from the source, and just did my modification, and  then run `yarn clean && yarn dev`.

But I don't get it to work, do you have any idea way?

Here is the export part.

![Screenshot from 2019-10-15 12-47-35](https://user-images.githubusercontent.com/20175215/66852052-1b879700-ef4a-11e9-85b5-23a766371d52.png)

[2019-10-15 16:59] brotzky commented on #174
There's no way to configure the text to be centered right now. A workaround could be this:

in your `gatsby-config.js`
[code]
This may work, but I haven't tested it.

[2019-10-15 17:13] Haja-andri commented on #138
@brotzky Cool ! I'll go celebrate ;) .

@alfieqashwa I checked your blog as well, I return the compliment, you've done some really nice customisation. I'd like to know more about some of them, maybe we can share few tips here and there... 👍 Let me know how to reach-out

Finally a little favour to both of you. I am also starting my twitter journey (created and account this weekend) and doing follow

[2019-10-15 18:43] mannp commented on #174
This has the most impact, albeit not looking as good on the spacing as before, but its an improvement on the text, thanks :)

[2019-10-15 19:44] brotzky commented on #174
Great :)))

[2019-10-15 19:44] #174 closed

[2019-10-15 20:48] wilmanbarrios commented on #160
@brotzky I was reading about shadowing, and it sames that we only can shadow files in the `src` folder, and since the `data.query.js` file is outside of the `src` its no going to work.

Is there another way to modify the `data.query.js` file or a way to change the format and locale of the published date of the articles?

That's my end goal, change the format and locale of the published date of the

[2019-10-16 16:52] brotzky commented on #160
I can move it into the `src` file if that's an easy win.

I think that's a better approach then somehow making it configurable without shadowing.

[2019-10-16 17:19] wilmanbarrios commented on #160
I think the same, that would be a win.

[2019-10-16 17:41] wilmanbarrios commented on #160
Do you need any help @brotzky?

[2019-10-16 20:14] brotzky commented on #160
If you'd like to PR it that would be awesome :)

[2019-10-16 20:18] wilmanbarrios commented on #160
Awesome i'm on it. :+1:

[2019-10-16 21:36] wilmanbarrios commented on #160
I just send the PR #176 take a look.

[2019-10-17 04:39] gizzidan opened #177 "Trouble using self-hosted fonts with @font-face"
**Version of Novela you are using**
I forked `gatsby-theme-novela` yesterday (October 16, 2019)

**Number of posts you have and which data source**
Local (only posts are the ones form the fork)

**Describe the bug**
I'm having an issue using a local font. I've tried adding to the `@narative/gatsby-theme-novela/src/styles/global.ts` file:

` @font-face { `
    `font-family: "Arg";`
   ` font-weight

[2019-10-17 13:50] brotzky commented on #177
Is the path to the font possibly wrong? I'm not sure this is something wrong with Novela. I don't believe you need to shadow the static folder if you're using Novela theme. You can use the regular gatsby static folder?

[2019-10-17 15:04] gizzidan commented on #177
I just fixed it. I didn't realize I had to import the font into `global.ts` first. To fix it, I did the following:

1. add `import Arg from "www/static/fonts/Aaargh-webfont.woff";` to `global.ts`
2.  Add the font with `@font-face` utilizing the Arg import
`@font-face {`
    `font-family: "Arg";`
    `font-weight: 400;`
    `font-style: normal;`
    `src: url(${Arg}) format("woff");`
  }

[2019-10-17 15:04] #177 closed

[2019-10-17 17:08] brotzky commented on #177
Fantastic! glad it worked out @gizzidan.

[2019-10-17 23:29] mannp opened #178 "FR Possibility of discrete page selection? Menu /"
Needing to add a Private Policy, Legals etc and no easy way to incorporate for a novice 😃 without detracting from the coolness of the theme?

Thanks for any consideration.

[2019-10-18 06:44] mabasic commented on #178
You can view my blog's Privacy Notice here:
https://blog.laravelista.hr/privacy-notice

View the source code here:
https://github.com/laravelista/laravelista.github.io/tree/develop

Also, see here for placing the link in the footer:
https://github.com/laravelista/laravelista.github.io/blob/develop/src/%40narative/gatsby-theme-novela/components/Navigation/Navigation.Footer.tsx#L39

[2019-10-18 07:20] mannp commented on #178
Cool, thanks @mabasic will take a look.

Some of your improvements are likely welcome back in this theme...

[2019-10-19 14:59] brotzky commented on #178
@mabasic great resource links, thanks!

A more defined menu option may be a great idea.

[2019-10-20 01:22] AryanJ-NYC opened #181 "basePath is not set in GraphQL schema"
**Version of Novela you are using**
0.9.0

**Describe the bug**
~[The README](https://github.com/narative/gatsby-theme-novela#theme-options) claims that `basePath` comes with a default of `/`. However, that default is never explicitly set.~

`Navigation.Header.tsx` queries for `basePath` in `PluginOptions` but `basePath` must be defined in `PluginOptions` type before use.

**To Reproduce**
Steps t

[2019-10-20 01:26] brotzky commented on #181
This could be because of the latest PR we brought in :o as we adjusted the pathing. I would recommend sticking to `0.8.x` until we fix it! Sorry.

[2019-10-20 01:31] AryanJ-NYC commented on #181
This'll be one of those bugs that I fix for ya. :)

[2019-10-20 02:30] #181 closed

[2019-10-21 19:43] jpvalery opened #185 "Issue with GitHub Actions for Lerna Publish"
Opened at https://github.com/lerna/lerna/issues/2314

Running into the same error despite my different strategies.
_________________

I'm trying to get lerna publish to run in a GitHub Action in order to stop relying on Travis for that.

All my workflow works well until I try to publish (see [example](https://github.com/narative/gatsby-theme-novela/commit/4b722f9f9dd6f8c54bfc88e5884484d5ffc3acda/c

[2019-10-21 22:01] jpvalery commented on #185
Fixed in https://github.com/narative/gatsby-theme-novela/commit/aaef6964bc43b05b23900d3b4d812138f62a71ea

[2019-10-21 22:01] #185 closed

[2019-10-21 22:16] jpvalery commented on #146
@AryanJ-NYC No particular rules - we added commitlint to ensure lerna would publish the right number version more than anything else :)

Let me know if I can help with anything related to that!

[2019-10-21 23:44] mabasic opened #189 "Git commit issues"
**Version of Novela you are using**

0.9.4

**Number of posts you have and which data source**
(Local, Contentful options)

Local

**Describe the bug**
A clear and concise description of what the bug is.

When I try to commit my changes to this repository I get a message saying that a commit requires a subject and type. What am I expected to do?

I usually just do `git commit -m "something"`.

Any

[2019-10-21 23:56] mabasic commented on #189
Figured it out...

https://commitlint.js.org/#/

Haven't heard of this before, but it looks cool.

[2019-10-21 23:56] #189 closed

[2019-10-22 15:26] brotzky commented on #189
It's pretty neat and fairly useful for OSS -- wonder if it would be useful to add to the contribution guides as a couple people have been stumped by it.

[2019-10-22 22:42] mabasic commented on #189
I will try to write something and send a PR for this. At first I also looked at the contribution guide... so that would be the place for that.

[2019-10-24 04:27] slavakurilyak opened #190 "Stackbit Theme"
<img width="727" alt="Screen Shot 2019-10-23 at 9 21 59 PM" src="https://user-images.githubusercontent.com/6625584/67453312-3194f780-f5db-11e9-9fcc-2a8189bcd33d.png">

It's time to create a Stackbit theme for Novela! [Follow the Stackbit documentation](https://docs.stackbit.com/) to get started.

No Stackbit theme? No worries. Here is a sample repo: https://github.com/stackbithq/stackbit-theme-fjo

[2019-10-24 16:39] brotzky commented on #190
Hey, this looks neat. Thanks for the issue! I believe I've tried looking at converting Novela to stackbit and held off on it because of the amount of work.

Would love if someone from their team could convert Novela to work with Stackbit (or anyone else). Otherwise I'm not sure when we'd be able to do it.

[2019-10-24 17:18] slavakurilyak commented on #190
@davbree, @mountainbug95 up for the challenge?

[2019-10-25 22:05] MartinRosenberg opened #192 "Copyright line shows current year regardless of actual copyright dates"
**Is your feature request related to a problem? Please describe.**
The copyright line always says the current year, regardless of the actual copyright dates of the material. For example, the content on [my blog](https://github.com/MartinRosenberg/martinbrosenberg.com) using this theme is copyrighted 2017-2019.

**Describe the solution you'd like**
The ability to customize the copyright line in `si

[2019-10-25 22:31] brotzky commented on #192
PR for this would be lovely. Either showing the original date only or a date range is great!

[2019-10-26 01:58] MartinRosenberg commented on #192
I'll get started on one pending #191, to avoid merge conflicts. :)

[2019-10-26 05:20] fpigeonjr commented on #178
I second the concept of adding a way to show page links. Maybe on the footer somewhere?

[2019-10-26 11:22] heyAyushh opened #193 "scroll to Top button"
A scroll to Top button at bottom right.

Also I want to implement this.

Guide me senpai on what to choose as Icon set and Animation

Thanks for making this repo

[code]

[2019-10-26 22:46] brotzky commented on #193
I dont think we'll be adding a scroll to top button to Novela at this moment. Sorry!

[2019-10-26 22:46] #193 closed

[2019-10-26 22:48] brotzky commented on #192
Thanks!

[2019-10-28 14:40] jpvalery commented on #189
Done ;)

[2019-10-29 04:25] fpigeonjr opened #195 "Youtube embed"
**Version of Novela you are using**
0.*

**Number of posts you have and which data source**
Local

**Describe the bug**
When I embed a Youtube video the video breaks the grid and flies left.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Youtube and copy the embed code'
[code]
2. Paste into a blog post markdown
3. See error

**Expected behavior**
Youtube video stays in the grid, not

[2019-10-29 04:37] brotzky commented on #195
A quick workaround would be to add a margin: 0 auto to the iframe and adjusting the video to also work on mobile.

Beauty of MDX is you can insert react components into your `.mdx` files :)

In the future we should better support iframes/embeds within Novela.

[2019-10-29 04:51] fpigeonjr commented on #195
Yes the work around worked for me. Thanks so much.

[2019-11-01 16:17] #195 closed

[2019-11-03 06:00] #192 closed

[2019-11-03 09:47] andon opened #198 "gatsby-plugin-feed errors on build when both local and contenful are enabled"
**Version of Novela you are using**
0.9.6

**Number of posts you have and which data source**
Local: 3, Contentful: 1

**Describe the bug**
When both `local` and `contentful` are set to `true`, like this:
[code]
the following error appears when doing `Gatsby build`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to Contentful the default site
2. Create post and author there
3

[2019-11-03 10:50] bolonio commented on #178
I second the concept of adding a way to show page links as well, but I would prefer to have it in the navigation header (maybe together with the copy/darkmode options). I'm trying to overwrite the "NavigationHeader" component, but I haven't succeed yet. Any help?

[2019-11-03 15:18] brotzky commented on #178
@bolonio if you can share your code I can take a quick look to see what's not quite working.

[2019-11-03 15:20] brotzky commented on #198
Thanks for the solid report. Will have to dig into this one to find out what's wrong.

[2019-11-06 16:22] arthurvdiniz opened #199 "[Help] How can i change the font?"

[2019-11-07 04:46] AryanJ-NYC opened #200 "Nested unordered lists are flat"
**Version of Novela you are using**
0.9.0

**Describe the bug**
* Nested lists
  * for example,
    * like this one

are flat. The example above would be rendered as
* Nested lists
* for example,
* like this one

**To Reproduce**
Steps to reproduce the behavior:
1. Consider the MDX at https://raw.githubusercontent.com/AryanJ-NYC/webdev-coach-blog/master/content/posts/2019-04-19-system-design-tinde

[2019-11-07 12:42] samleez commented on #148
Any update about this feature? we need a categories in this theme

[2019-11-07 12:54] samleez commented on #148
bro how I can implement the categories like the picture you shared with us, I can't find any documentation about this?

[2019-11-07 13:12] samleez opened #201 "Why I can't find component inside src folder?"
Hi guys,

So when I install the starter for the first time I only get uncompleted files and folders, for example, there's no **component** in the **src folder**, there are no files where I can replace my own logo..etc

I installed the starter using this command line:
`gatsby new novela-site https://github.com/narative/gatsby-starter-novela`

but all that I get is some folders with a lot of files m

[2019-11-07 16:58] brotzky commented on #201
This is how themes work!

When you add a theme as a dependency (@narative/gatsby-theme-novela) the whole point is that you don't get direct access to the components and can use Component Shadowing instead. This means all you have to add is data. This also means you're able to compose themes and have more complex sites with multiple themes.

I recommend taking a look at their documentation to get a

[2019-11-07 16:58] #201 closed

[2019-11-07 16:59] brotzky commented on #148
It's not yet released! Sorry, we're maintaining this in our free time and right now there's a lot going on that we have to handle as a priority. All I can say is it'll be when it's ready.

[2019-11-07 17:02] brotzky commented on #200
Ah that sucks. Looks like we have to handle the nesting better. It won't be fixed in the latest version so it's not worth upgrading for you right now. Will batch this into a bunch of other fixes.

[2019-11-07 17:06] AryanJ-NYC commented on #200
Much appreciated. Out of curiosity, what's the best place to look if I wanted to help out in fixing? I tried dissecting the code but I thought `mdx` was in charge of that.

[2019-11-07 17:06] samleez commented on #148
Thank you so much bro hope we gonna see this feature soon.. keep up the good job guys .. respect to you all

[2019-11-07 17:15] brotzky commented on #200
`mdx` would be my initial guess. I'd check that the data passed in is parsing the nested list. googling around shows some MDX issues with nested lists... maybe that's it.
really appreciate any help. thanks!

[2019-11-07 17:23] samleez commented on #201
Hi bro, thanks for the info but it still confusing me, let's say I want to modify the logo in novela theme .. should I create the component file in src folder? and that's the deal with each intends modification. first I must create the files from scratch? is that right?

[2019-11-07 17:29] brotzky commented on #201
Check this out:
https://github.com/narative/gatsby-theme-novela#adding-your-logo

[2019-11-07 19:34] brotzky commented on #199
I believe you'd have to shadow `<SEO />`, but I'm not 100% sure actually.

[2019-11-09 17:45] AryanJ-NYC commented on #200
Alright, I'm back with some findings. From https://github.com/mdx-js/mdx/issues/262, MDX takes something like:

[code]

and makes it:

[code]

This is a feature, not a bug. However, the CSS does not consider this and, in line [49-51 of `List.Unordered.tsx`](https://github.com/narative/gatsby-theme-novela/blob/0535a36ccfedce4b54a5e31b2ba0ef0c0d3602a5/%40narative/gatsby-theme-novela/src/components/L

[2019-11-09 18:16] spool commented on #148
Assuming one of the main blockers is renaming `categories` to `tags` I've had a go: https://github.com/spool/gatsby-theme-novela/commit/aea5bc7fc2408f644e0ca72507cd031f348edf8e

There are other things to consider but figured I'd see if we agree on this before continuing.

And: nice job @nnnkit, you've done the hard work. I'm just changed the variable names ;)

[2019-11-09 22:04] #198 closed

[2019-11-09 22:05] #200 closed

[2019-11-09 22:06] brotzky commented on #190
Will reopen if anyone wants to jump on it. For now, it seems like we have no takers.

[2019-11-09 22:06] #190 closed

[2019-11-09 22:06] #168 closed

[2019-11-09 22:06] #83 closed

[2019-11-09 22:06] #146 closed

[2019-11-09 22:07] #152 closed

[2019-11-10 01:16] brotzky commented on #148
The main blocker right now is the proper design implementation. Really appreciate the change in wording, nonetheless. Thank you!

[2019-11-10 01:22] brotzky commented on #172
I'm going to close this issue for now. full RTL support is a large task and we don't have the resources to tackle it right now. If someone reading this needs RTL support I encourage you to fork Novela and try to implement it yourself. Would appreciate a pull request back if it goes well for you :)

[2019-11-10 01:22] #172 closed

[2019-11-10 01:23] brotzky commented on #199
I checked and that appears to be the best way. Otherwise you can add another one to your project instead of replacing the one we currently have set.

[2019-11-10 01:23] #199 closed

[2019-11-10 12:14] samleez commented on #130
same issue here .. any update about this? @brotzky

[2019-11-10 16:58] spool commented on #148
Cool. Can make a pull request if that's helpful (and add a unit test... though I can't find a testing framwork in the repo, guess that would be an implementation decision as well ala: https://www.gatsbyjs.org/docs/testing/). Whatever's helpful.

[2019-11-10 20:05] mabasic opened #205 "Version miss-match npm & github"
On npm the latest version is `0.9.6`, but on github it says `0.10.1`.

[2019-11-11 01:44] brotzky commented on #205
published

[2019-11-11 01:44] #205 closed

[2019-11-12 17:17] misho-har opened #206 "Support for custom Routes"
Hi,

Thanks for this amazing theme I am in love 😍
I got a question, I am trying to add a intro page to `/` home page and move blogs under `/blog` route? is that possiable?

[2019-11-12 18:30] brotzky commented on #206
Yes, you can define the base route that Novela is built into for your site. Define the `basePath` in the theme options

https://github.com/narative/gatsby-theme-novela#theme-options

[2019-11-12 18:30] #206 closed

[2019-11-12 18:30] brotzky commented on #206
And thanks :D

[2019-11-14 19:02] jmigdelacruz commented on #160
Hi @wilmanbarrios has the merged PR fixed this?

I'm trying to do the same as you and update the date format. When i try and shadow the data.query.js file in the same folder you have it on as on your screenshot, still nothing happens even after i do a `gatsby build/develop`

Any ideas?

[2019-11-14 19:27] wilmanbarrios commented on #160
@jmigdelacruz no dude.

I ended doing a shadowing of the component that render the published date and then applied my custom format based on the the format of the date that is coming from GraphQL.

I think that is something with the path resolution in the theme itself, but i'm not sure.

[2019-11-14 21:08] brotzky commented on #160
Hmmm, im not entirely sure as well. Shadowing is a bit of a blackbox when it doesn't work properly so it's hard for me to fix it.

[2019-11-15 01:24] vikingmute opened #212 "Complied large template file blocking home page activities."
In slow network connection, this compiled article template js file "src-templates-article-template-tsx.js"(about 825 Kb) will take a little while to load, during this time, all the activities on the home page will be blocked, click the article title has no responding. Do we have a dynamic import mechanism  when we actually go to that route? Sceenshots below:

<img width="896" alt="屏幕快照 2019-11-15

[2019-11-15 08:00] sgorki opened #213 "Custom comment"
How to add custom comment for my blog ?
for example : https://utteranc.es/
i'm beginner

[2019-11-15 12:29] LekoArts commented on #160
This will be fixed by https://github.com/gatsbyjs/gatsby/pull/17681

[2019-11-15 16:33] wilmanbarrios commented on #160
Looking forward to that PR, thanks.

[2019-11-15 18:19] brotzky commented on #213
Hey @sgorki, welcome!

Unfortunately, I don't know how to add custom comment for your blog. I believe we've had users add comments with Disqus to their Novela blog.If you dig into the past issues you may be able to find some outlining how to add comments.

A comment system isn't a core feature of Novela that we want to support so you'd have to fork the repo and build it yourself.

Hope that helps

[2019-11-15 18:19] #213 closed

[2019-11-15 18:22] brotzky commented on #212
This should be handled by Gatsby.

I checked Novela's at novela.narative.co and the largest bundle is about 200KB for the article
http://d.ntve.co/zX91Rs

Are you looking at the development environment or is that production?

[2019-11-17 01:30] vikingmute commented on #212
@brotzky  I used the production build , I looked up the public build folder, I found two templates-article-template-tsx.js files with different hash name. one file's bundle size is indeed around 825Kb, and the other is around 200Kb, I think that's because I use Component Shadowing to create my own version of article.template.tsx, I added a custom disqus-react library may increase some file size.

[2019-11-17 17:08] brotzky commented on #212
Hmmm, that's probably it. In the original one it's 200KB so I would take a look at your shadowing. Hope that helps.

[2019-11-19 04:42] kevinra commented on #96
I'm not sure if this is the right way but here's how I implemented the image caption.
1. Create `Figcaption.tsx` under `src/@narative/gatsby-theme-novela/components/Figcaption/`
Its content can look something like this:
[code]
2. Create `MDX.tsx` under `src/@narative/gatsby-theme-novela/components/MDX/` to shadow MDX component. Add these two lines somewhere in the code:
[code]
3. Use `figcaption`

[2019-11-19 06:22] brotzky commented on #96
I think that's the best way to implement it as well, @kevinra. Gives you full customizability and takes advantage of the beauty of MDX.

[2019-11-19 13:08] EmaSuriano commented on #96
@brotzky do you think this feature should be implemented using shallowing by each developer or if it should be part of the official theme?

[2019-11-19 13:18] vikingmute commented on #212
@brotzky  Today I did some more research and found the 824Kb file is not caused by Component  Shadowing. I did a **clean install** using `gatsby new novela-site https://github.com/narative/gatsby-starter-novela ` , and in the new project I did `gatsby build` right away. And I found the file (article-template-tsx) size is 824Kb,  my local webpack version is "4.41.2".

[2019-11-19 16:18] brotzky commented on #96
In this instance you're not shadowing as you're creating the component yourself and not overriding anything from Novela.

The component seems quite simple so maybe it's best to keep it outside and have userland do it like they want :)

[2019-11-19 16:20] brotzky commented on #212
Thanks for taking a deeper look. Going to have to investigate this because 824KB is not acceptable in my opinion.

[2019-11-19 18:26] kevinra commented on #96
I think it's a good idea to have an image caption feature on Novela theme. An experienced dev can always tweak existing tools like this to fit their needs because they understand the framework. On the other hand, people like me who have limited front end development experience, it's hard to implement such features on their own without lots of Googling and help. Our life can be easier if such featu

[2019-11-19 18:54] rommelporras opened #214 "Native Adsense and Disqus support"
Add native support in Adsense and Disqus just like Google Analytics in `www/gatsby-config.js`.

Is there a way right now to add Disqus comments in every post and Adsense?

[2019-11-19 21:52] brotzky commented on #214
There are some Disqus implementations. If you search through the closed issues there should be some examples there!

As for Adsense I'm not sure what you mean. I don't have any experience with that, sorry.

[2019-11-19 21:52] brotzky commented on #214
https://github.com/narative/gatsby-theme-novela/issues/34

Check this one out

[2019-11-19 21:53] brotzky commented on #96
PR is welcomed <3

[2019-11-20 01:03] vikingmute commented on #212
@brotzky should we reopen this issue?

[2019-11-20 07:33] zactony opened #215 "An error will occur if the article title is in Chinese"
**Version of Novela you are using**
^0.10.3

**Number of posts you have and which data source**
10 posts, Local

**Describe the bug**
When I write the title in Chinese, the home page of the website will be wrong.
The homepage is like the details page of the article that you entered, but you can't return to the homepage by clicking the logo on the head.But I wrote the title in English and everythin

[2019-11-20 08:47] rommelporras commented on #214
I mean how to implement Google Adsense in every post of Novela?

I think it is nice to have Disqus or any comment service integrated to the core of Gatsby Theme Novela.

Thanks for the link, I will research how to add Disqus in the bottom of every post.

[2019-11-20 17:19] brotzky commented on #214
Hey, thanks for the suggestion! Unfortunately, we won't have native support for comments. I hope the link and example repo helps you implement it :)

[2019-11-20 17:19] #214 closed

[2019-11-20 17:22] brotzky commented on #215
Ah, it must be failing when building the URL as the chinese characters break it.
What if you manually set the Slug for the article that has a chinese title?

https://github.com/narative/gatsby-theme-novela#post

[2019-11-20 18:53] kevinra commented on #96
When an image fits the paragraph width, it's fine. There's a problem when the image is narrower. It looks ugly when the text spans wider than the image its describing.

I want to make the `figcaption` to have the same width as the image but don't know how. Is there a way to match the width of `gatsby-resp-image-wrapper` on figcaption style?

[2019-11-20 18:58] brotzky commented on #96
I believe we have a set of widths defined here. You could re-use the image classes if you wanted to:
https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/src/components/MDX/MDX.tsx#L210

It's not the cleanest implementation right now, but there you should be able to see the breakpoints and max-widths of each image variation.

[2019-11-20 19:30] kevinra commented on #96
Hmm I don't understand your solution. the max-width in `MDX.tsx` files are the max-width of `Image__*` container meaning `figcaption` inherits the same width.

Here's a detailed example of the problem. The small image (let's say A) I have has a width of 360. `Image__Small` is set to have `max-width` of 680. Image A is contained by `gatsby-resp-image-wrapper` with `max-width=360px`. Now `figcaption

[2019-11-20 21:58] EmaSuriano opened #216 "Navigation broken when deployed in Netlify"
**Version of Novela you are using**
0.10.3

**Number of posts you have and which data source**
Local

**Describe the bug**
It's not directly connected with this theme but it might be because I'm reusing one of the components inside the theme.

I created a new `index.js` that replaces the original one, in which I'm rendering the same `Articles.List`.  The problem I'm having is when I deployed the s

[2019-11-20 22:01] EmaSuriano commented on #216
This is the list of plugins I'm using:

[code]

And these are my dependencies:

[code]

[2019-11-20 22:10] brotzky commented on #216
First off, looks great!

Secondly, it looks like the link works when going directly from https://emasuriano-new.netlify.com/blog.

It's hard to identify the root of the problem, but it seems you're on the right path. Sorry, I can't help much beyond that!

[2019-11-20 23:35] wilmanbarrios commented on #160
The PR just got merged. But still changing the graphQL query not work.

[2019-11-20 23:56] brotzky commented on #160
Maybe we also have to update Novela's Gatsby version?

[2019-11-21 00:00] wilmanbarrios commented on #160
I'm not sure, but we could try and see it works.

[2019-11-21 00:05] zactony commented on #215
Very Good! But at first I didn't understand how to configure it, then see other issues to understand. thank you! 😊

[2019-11-21 00:05] #215 closed

[2019-11-21 09:21] EmaSuriano commented on #216
@brotzky yeah that's also something I discovered it too. Are we creating the pages inside the theme in a "special" or loading them dynamically in some part of the app?

[2019-11-21 17:13] brotzky commented on #216
No, it should all be within createPages!

[2019-11-25 15:36] tantrongtt opened #220 "How to create multiple post types"
Hi Narative team,

Thanks for providing a very beautiful site. I'm a designer and really love the design!
I've just known about GatsbyJS last week and used your theme for my website.

I want to set up my website supporting multiple post types, both blog articles and my previous work (Portfolio). This portfolio setup works best for designers who love to write.

I already put a `portfolios` folder u

[2019-11-25 18:30] brotzky commented on #220
What exactly doesn't work? Is there an error message? Or it's rendering like the wrong page? I took a look through the PR and it looks like you have the right idea.
Query the content then build pages using the portfolio template.

[2019-11-25 18:38] rommelporras opened #221 "Built in Image Gallery"
I think it is nice to have an Image gallery function here in Novela

Something like [Ghost's Image Gallery](https://ghost.org/blog/image-galleries/)

Novela's default implementation of images is good, but it can still be improved with an image gallery with zoom functionality.

[Sample picture of a gallery](https://kinsta.com/wp-content/uploads/2018/02/modula-gallery.jpg)

[2019-11-25 23:04] brotzky commented on #221
Would love a PR for this otherwise it's unlikely we'll add it.

[2019-11-26 03:56] tantrongtt commented on #220
Oh! Thanks so much, @brotzky for the response!

Sorry that I didn't describe it clearly.
There is no error, but it's rendering the wrong page. Now all articles page render my new portfolio template.
I assume that the URL/slug for template and article is the same or the query problem.
I didn't change any query because I don't know about graphQL.

What should I do?

Thanks,
Trong

[2019-11-26 17:23] brotzky commented on #220
It looks like this could be the issue: https://github.com/tantrongtt/blog/blob/c0b0ea863fe4b95ab66e5baca6d240fe48ea2786/%40narative/gatsby-theme-novela/src/gatsby/node/createPages.js#L264

You're passing articles in for the edges of the Portfolio.

[2019-11-26 17:26] EmaSuriano commented on #216
So after doing some test I finally discovered the issue. The problem relays on `Article.List` is using the `Link` component from `gatsby`. This for some reason has some problem regarding the caching inside Netlify which ends up on an undefined problem inside the console after being deployed.

The way that I fixed it was by using the shadowing feature of themes built in gatsby and replacing the `st

[2019-11-26 17:26] #216 closed

[2019-11-26 22:23] imprashast commented on #96
What do you mean narrower than paragraph? I style the css like this for the class `Image__Small` and it looks absolutely fine:
<img width="358" alt="Screen Shot 2019-11-26 at 11 22 06 PM" src="https://user-images.githubusercontent.com/21952706/69677683-bcb65100-10a3-11ea-9399-7bd8d13eb8a6.png">

This is my css:
[code]

[2019-11-26 23:38] brotzky commented on #216
Thanks so much for investigating and finding the solution!

[2019-11-27 09:19] tantrongtt commented on #220
Thanks @brotzky
I tried to fix it by using the portfolio here. But it stays the same: still run, but using the article template. https://github.com/tantrongtt/blog/blob/0f2dd9935d921fc0906971aa29d2b4f2c27af2e9/%40narative/gatsby-theme-novela/src/gatsby/node/createPages.js#L266

I noticed that all portfolios inside my `content/portfolios` folder haven't created because I can't access it but enterin

[2019-11-27 13:26] tantrongtt commented on #220
As my understanding, if my data inside `content/portfolios` is added, it should appear inside the `http://localhost:8000/___graphql`,  doesn't it? I found nothing relates to portfolio

<img width="291" alt="image" src="https://user-images.githubusercontent.com/26541725/69726893-61946500-115c-11ea-9dbb-9a1a25c65b88.png">

[2019-11-27 17:16] brotzky commented on #220
Hey, ill take a better look this weekend (if you still dont solve it) when I have some more time. Ill try cloning it down and seeing what's wrong.

Yes, the content should appear in graphiql.

[2019-11-28 02:28] aabosh commented on #160
Any update on this?

[2019-11-28 05:45] kevinra commented on #96
@imprashast Is the image width greater or equal to paragraph width? If not, try expanding the browser width. Please refer to the image below for the problem I'm facing.

![example](https://user-images.githubusercontent.com/6539629/69780120-54856f00-1178-11ea-9f8a-4495324f46b3.png)

Of course,
 a workaround is to avoid using small image but what if I need to place such square image?

[2019-11-28 09:52] tantrongtt commented on #220
Thanks so much!

I will try to fix it, but I'm not so confident. I will let you know the update.

[2019-11-30 01:41] tantrongtt commented on #220
Hey Brotzky,

I can't solve it. I hope that you can help me!

Thanks

[2019-11-30 07:31] tantrongtt commented on #220
Hey Brotzky,

I think did it! :)))))))))))

Thanks so much for all your time!

[2019-11-30 11:29] imprashast commented on #96
Well, my css still works:
<img width="380" alt="Screen Shot 2019-11-30 at 12 28 30 PM" src="https://user-images.githubusercontent.com/21952706/69899908-fd94bb00-136c-11ea-8a0c-6b08855d7a53.png">
<img width="796" alt="Screen Shot 2019-11-30 at 12 28 17 PM" src="https://user-images.githubusercontent.com/21952706/69899909-fd94bb00-136c-11ea-9602-9b67fad41971.png">

Do you want me to send the PR?

[2019-11-30 16:24] kevinra commented on #96
Interesting. I wonder why my implementation doesn't work :(
Yes it would be great if everyone can benefit from this feature!

[2019-11-30 19:08] imprashast commented on #96
@brotzky Can you give me access to push to the repo?

[2019-12-01 23:30] slavakurilyak opened #222 "Remove reliance on local source"
**Version of Novela you are using**
0.10.3

**Describe the bug**
Please remove reliance on local source.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Contentful as a source (see [step-by-step instructions](https://github.com/narative/gatsby-theme-novela#contentful))
2. Set `local: false` inside `gatsby-config.js`
3. Delete `local` folder
4. Run `yarn dev`
5. See error below:

[code]

[2019-12-02 03:15] slavakurilyak opened #223 "Mailchimp Does Not Work With Contentful"
**Version of Novela you are using**
0.10.3

**Describe the bug**
Mailchimp plugin does not work with Contentful

**To Reproduce**
Steps to reproduce the behavior:
1. Add Contentful as a source (see [step-by-step instructions](https://github.com/narative/gatsby-theme-novela#contentful))
2. Set `contentful: true` inside `gatsby-config.js`
3. Add Mailchimp as a plugin (see [step-by-step instructions]

[2019-12-02 08:07] slavakurilyak opened #224 "FooterText not showing correct copyright years"
**Version of Novela you are using**
0.10.3

**Describe the bug**
The footer shows incorrect dates

**To Reproduce**
Steps to reproduce the behavior:
1. Publish any content (local or Contentful)
2. Scroll down to the footer
4. See screenshot

**Expected behavior**
When I post content for 2019, I expect 2019 to show up as the copyright year in the footer

**Screenshots**
<img width="676" alt="Screen

[2019-12-02 08:25] slavakurilyak commented on #190
@denar90, @TomasBankauskas can you guys help out? 🤔

<img width="906" alt="Image+2019-12-02+at+12 19 34+AM" src="https://user-images.githubusercontent.com/6625584/69943002-d7206e00-1499-11ea-87ea-45051fca6590.png">

[2019-12-02 12:13] EmaSuriano commented on #224
Yeah, I was having the same issue. I opened a PR to fix it. #225

[2019-12-02 16:22] brotzky commented on #220
Awesome :)

[2019-12-02 16:22] #220 closed

[2019-12-02 16:24] brotzky commented on #96
@imprashast make a PR, should be the easiest way :)
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

(also, we'll want a bit of spacing under the image. From the screenshots it looks a bit too close. mybe 6px)

[2019-12-02 16:26] brotzky commented on #222
Ah, that's strange. This must've broke recently as it used to be possible. Sorry about that.
We will have to fix it!

[2019-12-02 16:27] brotzky commented on #223
Ahhh, the Contentful template might not have mailchimp? Nice catch @slavakurilyak.
Thanks for all these reports.

[2019-12-02 18:42] imprashast commented on #221
Looks interesting, I might work on this :)

[2019-12-03 06:36] stanstarks commented on #165
Hi, @jpvalery . I am new to web dev. Could you be so kind to point me to some link about how to generate a Logo.tsx like the one on your site? Thanks in advance!

[2019-12-03 19:08] imprashast commented on #96
Can be closed now 😄

[2019-12-03 20:13] #96 closed

[2019-12-05 16:44] misho-har commented on #206
Thanks a lot :) and what about if I want to add a new folder in `content/courses` and they create `/courses` and `courses/course-slug` pages is that something doable ? :) @brotzky

[2019-12-05 17:25] brotzky commented on #206
I don't believe we support multiple sources for the content right now. :|
Sorry!

[2019-12-10 07:55] virusvn opened #228 "Missing `social` on Author"
**Version of Novela you are using**
0.10.5

**Number of posts you have and which data source**
Local

**Describe the bug**
The directory `content/authors`, `content/posts` is already have good data (same as the example)
But the plugin throw the error `Error: You must have at least one Author and Post.`
The reason is the query is getting `social` on Author, but doesn't have any Social resolver. If

[2019-12-10 16:09] brotzky commented on #228
Hmmmm, that's strange. We have it working on novela.narative.co based off this file
https://github.com/narative/gatsby-theme-novela/blob/master/www/content/authors/authors.yml

Are you sure it's configured correctly? It's possible we have social documentation incorrect.

[2019-12-11 05:56] virusvn commented on #228
@brotzky
Thank you! I solved the problem by correct `authors.yml`.
The guide is wrong at https://github.com/narative/gatsby-theme-novela#step-4-adding-an-author

[2019-12-11 05:56] #228 closed

[2019-12-11 06:14] kevinra opened #230 "Adding LaTeX using gatsby-transformer-remark doesn't work"
**Version of Novela you are using**
0.10.5

**Describe the bug**
I'm trying to add LaTeX using [gatsby-remark-katex](https://www.gatsbyjs.org/packages/gatsby-remark-katex/) but the string is treated as a raw string.

**To Reproduce**
Steps to reproduce the behavior:
1. Install necessary packages specified on the [website](https://www.gatsbyjs.org/packages/gatsby-remark-katex/).
2. Modify gatsby-co

[2019-12-11 07:33] brotzky commented on #224
Merged and fixed. Thanks again @EmaSuriano!

[2019-12-11 07:33] #224 closed

[2019-12-11 07:35] brotzky commented on #230
looks like it'll have to be integrated into the core if we want to support that. A bit strange it's not combining your plugins.

[2019-12-12 04:40] kevinra commented on #230
When you say core, is it something achievable by component shadowing or not? If it's possible, could you pinpoint where I should look at?

[2019-12-13 17:59] mattjogo opened #232 "Diverse Language Title is not supported properly."
**Version of Novela you are using**

0.10.1

**Number of posts you have and which data source**
(Local, Contentful options)

Local

**Describe the bug**
A clear and concise description of what the bug is.

Only an alphabetical title supported properly with a main title page. Like Cyrillic Script, Hangul(Korean Alphabet) and Japanese is not supported properly. Only an un-alphabetical titled languag

[2019-12-15 13:04] stanstarks commented on #230
I am trying [gatsby-remark-mathjax](https://www.gatsbyjs.org/packages/gatsby-remark-mathjax/). The problem I cannot solve is adding mathjax scripts to head. I tried setHeadComponents with [gatsby-ssr.js](https://www.gatsbyjs.org/docs/ssr-apis/#onRenderBody) but can't figure out why it does not take place.

[2019-12-16 23:24] brotzky commented on #230
you can try placing it directly in the `html.js` file?

[2019-12-17 21:54] Kevinnko opened #233 "[Help] How to override global styles ?"
Hi, first off all thank you for this great theme, I'm loving it !

I need help to customize the styles of a component : I shadowed the header navigation component to replace it by my own header (with my menu in it), but it seems like the global styles of novela theme is overriding my own styles, especially the font-family and the font-weight.

I use a typography util for managing fonts in my site

[2019-12-17 23:05] brotzky commented on #233
Any way you could link the site you're working on? I could take a look for you and see if it's an issue with the setup or how we've configured Novela.

[2019-12-18 03:26] stanstarks commented on #230
@brotzky Thanks. I can add it directly in the html.js. However, the script does not take effect.

[2019-12-18 08:32] Kevinnko commented on #233
Yes, I just sent you an invitation.
Thanks !

[2019-12-18 16:23] mabasic opened #234 "Can we have the same versions of the theme on GitHub and NPM?"
Sorry to bring this up again, but every time I try to update to the latest version I see a miss match of versions on NPM and GitHub...

On NPM it says 0.10.5 is the latest, on GitHub it says 0.11.2 is the latest and that 0.10.5 does not even exist. 0.10.4 exists on Github, but does not exist on NPM.

Is there a way to have both to be the same?

[2019-12-18 19:05] brotzky commented on #234
Yes, sorry. We have an automated script that's broken right now. It's supposed to handle releases but isn't deploying properly. JP is currently on holiday and wants to fix it when he returns. In the meantime i'm manually deploying locally and sometimes forget. Ill do one now :)

[2019-12-19 11:34] Kevinnko opened #236 "Contentful posts are not displayed"
**Version of Novela you are using : 2.6.7**

**Number of posts you have and which data source**
Local : 1
Contentful : 3
Contentful options :
[code]
Theme options :
[code]
**Describe the bug**
Only the post from local source appears on the blog. When making query on graphiQL, the contentful data is there.
[code]
When running development server :
[code]
**Expected behavior**
Both articles from loca

[2019-12-20 04:04] brotzky commented on #236
Ah shit, I think this is due to some issues with Author. In the meantime can you set authors locally like this: https://github.com/narative/gatsby-theme-novela/tree/master/www/content/authors and let me know if that resolved your issue?

[2019-12-20 08:52] Kevinnko commented on #236
Hi Dennis, I already had an author set locally so that was not the problem. However, it worked after I added an URL in the social field of the author in contentful, which I thought was optional (apparently it's not). There might be some fix to do in your data query !
Thanks

[2019-12-21 16:54] brotzky commented on #236
Yes, you're right :) There's a related issue to that. Thanks so much!

[2019-12-24 02:31] tantrongtt opened #240 "How to create a static image folder and use Gatsby image"
Hi Narative team,

I'm using Novela and want to create many different landing pages that need many images. Now I put all of them to the `static` folder but I don't think it's a good use for Gatsby. Because the images aren't optimized by Gatsby image (I guess so?).

So, I want to create an image folder in which I will store all images for my landing pages there. And apply Gatsby image for them to o

[2019-12-24 17:28] FarhadG opened #241 "I read through your docs but cannot integrate this library into your boilerplate"
I tried every variation in your docs but cannot get this to work with this theme: https://github.com/tengbao/vanta

Any help would be appreciated.

[2019-12-25 18:09] AryanJ-NYC opened #242 "[CI/CD] Publish with Lerna not publishing @narative/gatsby-theme-novela"
**Describe the bug**
The [Publish with Lerna GitHub action](https://github.com/narative/gatsby-theme-novela/commit/eada16c5ce2ce188e349982c8b116efd9dc0cfd7/checks?check_suite_id=372091617) is not publishing correctly when `@narative/gatsby-theme-novela` `package.json` is bumped. Instead, it looks for a bump in the version number of the root `package.json`. This results in a human needing to go bac

[2019-12-30 18:34] brotzky commented on #240
Hey @tantrongtt,
Have you read through this: https://www.gatsbyjs.org/docs/working-with-images/?
There shouldn't be anything special required to work with Gatsby Image with a theme.

Yes, you can create a folder and query the images for your landing pages.

[2019-12-30 18:36] brotzky commented on #242
Yes, you're right that it's currently not working as expected. JP who is responsible for the CI/CD wants to fix this issue after the Holidays. He's been kind enough to let me know he's aware of the issue and wants to fix it when he finds some time.

[2019-12-31 03:32] tantrongtt commented on #240
Hey Brotzky,
It took me a couple days to figure out and understand how it works. But I finally be able to do it.

Thanks alot! Sorry to bother day

[2019-12-31 03:32] #240 closed

[2019-12-31 19:09] brotzky commented on #240
No problem. Just glad you were able to resolve it :)

[2020-01-05 03:30] brotzky commented on #241
Hey, sorry, can't really offer help on this one :\

[2020-01-05 03:35] brotzky commented on #99
You should be able to override with `timeToRead` set on an article. If it's no possible please reopen the issue <3

[2020-01-05 03:35] #99 closed

[2020-01-05 03:36] brotzky commented on #102
Going to close this for now as there haven't been any chip ins for a bit now. I don't see us handling localization within Novela in the near future unless it's done by the community <3.

[2020-01-05 03:36] #102 closed

[2020-01-05 03:37] brotzky commented on #117
Seems this was fixed indirectly (doesn't scroll horizontally or have scrollbars on Chrome and Firefox).

[2020-01-05 03:37] #117 closed

[2020-01-05 03:45] brotzky commented on #175
This appears to be a limitation of LinkedIn. I can't seem to find a way to carry over and insert the body text for LinkedIn. Do you have any idea how to get pre-fill linkedin text links? If you do I'll reopen this issue and fix it!

[2020-01-05 03:45] #175 closed

[2020-01-05 03:48] brotzky commented on #150
Actually, reviewing the IO API there might not be a good way to find the _progress_ of scroll over an element? For example we can detect which percentage is being viewed, but not the percent from hte top of the content.
For now I think the 20ms throttle is handling it nicely :)

[2020-01-05 03:48] #150 closed

[2020-01-05 04:03] brotzky commented on #212
Hey, I can't reproduce this on novela.narative.co and I cloned down the starter and built it's not loading any large files (~824Kb). I do see that the public folder contains 800k files tho (and some 2.4Mb files).

<img width="1367" alt="Screen Shot 2020-01-04 at 8 02 43 PM" src="https://user-images.githubusercontent.com/8007686/71774958-3ce69680-2f2d-11ea-83ae-21495e85f938.png">
<img width="1473"

[2020-01-05 04:03] #212 closed

[2020-01-05 04:12] brotzky commented on #130
I tested this on latest and it works.

[code]

<img width="1046" alt="Screen Shot 2020-01-04 at 8 11 38 PM" src="https://user-images.githubusercontent.com/8007686/71775025-7075f080-2f2e-11ea-8d89-9ff535986053.png">

If you're still having issue please let me know!

[2020-01-05 04:12] #130 closed

[2020-01-05 04:46] brotzky commented on #232
I've changed it to use slugify under the hood and it should work properly now on latest release.
(~0.12.2)

[2020-01-05 04:46] #232 closed

[2020-01-05 04:49] brotzky commented on #236
I've changed the documentation to show required for social and adding defaults to the starter and example repos.
Hopefully this clears up a lot of confusion when users decide to add Author pages.

[2020-01-05 04:49] #236 closed

[2020-01-05 04:50] brotzky commented on #158
Seems to have fixed itself on latest Safari: https://novela.narative.co
I can't reproduce it on Version 13.0.4 (15608.4.9.1.3).

[2020-01-05 04:50] #158 closed

[2020-01-05 15:05] vzahradnik opened #244 "Display blog post subtitle in the article page"
**Is your feature request related to a problem? Please describe.**
I migrated my blog from Jekyll. All my posts have a title and a subtitle (an excerpt). It would be great to display the subtitle in the Article page optionally.

**Describe the solution you'd like**
At the moment, I shadowed your `Article.Hero` component. The subtitle is read from the excerpt attribute and is placed above an author

[2020-01-05 17:59] slorber commented on #99
Great thanks 😉

Le dim. 5 janv. 2020 à 04:35, Dennis Brotzky <notifications@github.com> a
écrit :

[2020-01-06 03:40] aashanand commented on #175
Hmm. It does appear to be a limitation of LinkedIn. [This documentation](https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/plugins/share-plugin) for the LinkedIn Share button doesn't mention anything about passing text over as part of the share itself - only a URL.

[2020-01-06 17:18] brotzky commented on #244
I'm on the fence on this one, but if you'd like to implement it as a config option that could be a possibility. You'll have to pass the except into the article template and check if the user has set the theme config to enable `postSubtitles` (or whatever you'd like to name the config option.

- [ ] Add config option to theme
- [ ] Update article template / title
- [ ] Add documentation and example

[2020-01-06 17:20] vzahradnik commented on #244
I also thought about global theme option. I will take a look into it. Thanks!

[2020-01-06 17:25] brotzky commented on #244
No problem! Feel free to ask questions if you decide to give it a shot and run into problems.

[2020-01-08 23:05] brotzky commented on #236
`v0.13.2` now works with Contentful in isolation <3!

[2020-01-09 15:43] Kevinnko commented on #236
Great ! Thanks ;)

[2020-01-14 14:14] aleccool213 commented on #234
You should consider using https://github.com/semantic-release/semantic-release

[2020-01-14 17:42] brotzky commented on #234
Ah really cool. Did you want to set it up @aleccool213 ?

[2020-01-14 17:47] aleccool213 commented on #234
Sure thing

[2020-01-17 01:53] eugenejeonme opened #245 "I carefully suggest, using forestry.io"
I was planning a blog using Hugo.
Then I found the following Novel Theme.
https://github.com/forestryio/novela-hugo-starter

I noticed that Gatsby has the same theme. Is this the original?
And I have confirmed that the themes made with Gatsby are softer.

And I saw an issue card that wanted NetlifyCMS.
So I suggest carefully. What about Forestry.io?

If you don't want it, you can close it.

[2020-01-17 14:43] aleccool213 opened #246 "Add renovate for automated dependancy upgrades"
**Is your feature request related to a problem? Please describe.**

To keep up with the Gatsby ecosystem, I suggest [renovate](https://github.com/marketplace/renovate) is added to the repo. Makes it very easy to keep up with dependancy upgrades.

**Describe the solution you'd like**

* Install renovate as a github app

**Describe alternatives you've considered**

There are some other solutions whi

[2020-01-17 15:08] aleccool213 opened #247 "Lacking support for `gatsby-transformer-remark`"
**Version of Novela you are using**
0.12.2

**Number of posts you have and which data source**
10, local

**Describe the bug**
I am switching my blog from native Gatsby over to this theme and one of the last features I need to get working is embedded content. In the old version of my blog, I have `gatsby-transformer-remark` working with a few plugins to get Vimeo and Instagram content rendering in

[2020-01-17 17:37] brotzky commented on #245
That Hugo theme was kindly ported over by contributor.

This is the original theme you're commenting one.

If someone decides to port it to Forestry.io we're all for that :)

[2020-01-18 03:14] brotzky commented on #246
We've tried similar stuff and our own site has https://dependabot.com/ but I find it pretty annoying and actually not a lot easier to maintain because you usually blindly update groups of packages.

[2020-01-18 03:37] aleccool213 commented on #246
I find them annoying as well. The good thing about renovate is the config:

[code]

* once a week
* groups all non-major upgrades into one pr

Totally, if you have good test coverage with Cypress or Percy then it aint bad.

No worries 👍

[2020-01-18 03:38] aleccool213 commented on #246
Looks like you thought of it before tho. Feel free to re-open if renovate sounds cool.

[2020-01-18 03:38] #246 closed

[2020-01-18 13:06] eugenejeonme opened #248 "Doesn't build on Node 13"
I haven't checked where to use the Sharp 0.22.x version. (I'm sorry.)
But, I found it by looking at the issue log below. Using on Sharp 0.22.x somewhere.
![image](https://user-images.githubusercontent.com/36671804/72664183-27e62900-3a3e-11ea-83a8-b5aae3d7ca7c.png)
![image](https://user-images.githubusercontent.com/36671804/72664186-30d6fa80-3a3e-11ea-8dd4-2c60817a1b63.png)

Here is a reference.
->

[2020-01-18 13:11] eugenejeonme commented on #245
OK, Thank you for your comments.
I will close this card.
And if you have a lot of people who want Forestry.io, I'll help you too. :)

[2020-01-18 13:11] #245 closed

[2020-01-18 15:28] jpvalery commented on #242
Yeah it's been a dumpster fire to do it with GH Actions tbh. I think my latest commit might fix it once and for all.

[2020-01-18 15:31] jpvalery commented on #234
@aleccool213 we evaluated semantic-release and it just doesn't work with monorepos like this one.

Duplicate of #242 - Closing.

[2020-01-18 15:31] #234 closed

[2020-01-18 15:32] jpvalery opened #249 "Bug: build fail "Cannot query field "allContentfulAuthor" on type "Query".""
**Version of Novela you are using**
Latest

**Describe the bug**
<img width="1870" alt="image" src="https://user-images.githubusercontent.com/4112343/72666153-71525c00-39dd-11ea-87e9-d5c9d3d6f78c.png">

https://github.com/narative/gatsby-theme-novela/commit/2427e7d0bb33164844c14089a3ec0a72fedcd8e2/checks?check_suite_id=407897765

@brotzky ran into this trying to finally fix the CI/CD workflow. Are

[2020-01-18 18:00] aleccool213 commented on #234
@jpvalery good to know 👍

[2020-01-18 19:38] pierrenel commented on #247
Having the same issue, keeping my eyes on this one 👀

[2020-01-18 23:33] brotzky commented on #234
Thanks @jpvalery :)

[2020-01-19 05:44] pierrenel commented on #247
@aleccool213 I temporarily "fixed" it by adding gatsby-remark-embed-video to @narative/gatsby-theme-novela/gatsby-config.js :

`    },
    {
      resolve: `gatsby-plugin-mdx`,
      options: {
        extensions: [`.mdx`, `.md`],
        gatsbyRemarkPlugins: [
          {
            resolve: `gatsby-remark-images`,
            options: {
              maxWidth: 10000,
              linkImagesToO

[2020-01-19 05:51] pierrenel commented on #247
@aleccool213 later today I'll create a PR that adds all the bits we need to Novela - instagram + video embeds etc... hopefully it gets accepted 👍

[2020-01-19 08:27] SabariVig opened #251 "gatsby-cli"
**Version of Novela you are using**
gatsby cli [1.3.7]
**Number of posts you have and which data source**
(Local, Contentful options)
local
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
when installing from gatsby cli .iget error with sharp package

**Screenshots**

![image](https://user-images.githubusercontent.com/3337

[2020-01-19 10:28] dennismorello opened #252 "authorsPath is ignored"
**Version of Novela you are using**
0.13.2

**Number of posts you have and which data source**
Local: 3

**Describe the bug**
Following the README, I have set the `authorsPath` property in the theme options to override the default `/authors`, but nothing changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `gatsby-config.js`
2. Go to the `@narative/gatsby-theme-novela` plug-in confi

[2020-01-19 18:31] brotzky commented on #251
Ah, you must be using node 13.  This is a known issue: https://github.com/narative/gatsby-theme-novela/issues/248

Shall work in resolving it.

[2020-01-20 11:07] dennismorello opened #253 "Add gatsby-remark-social-cards plugin"
**Is your feature request related to a problem? Please describe.**
When embedding blog posts on social networks like LinkedIn, Twitter and Facebook, metadata on social card are poor and there is no thumbnail.

**Describe the solution you'd like**
It would be great if all the `<meta .../>` tags needed to build nice social cards were automatically generated. All the required data is already present

[2020-01-20 13:31] jpvalery commented on #253
Could you open a PR to add this feature?

[2020-01-20 13:57] jpvalery commented on #242
Blocked by #249

[2020-01-20 13:59] #241 closed

[2020-01-20 21:17] dennismorello commented on #253
@jpvalery, @brotzky I am working on it

[2020-01-21 13:38] jpvalery commented on #249
Looks like it broke on 9aac6a4 ([workflow log](https://github.com/narative/gatsby-theme-novela/commit/9aac6a436cd0899c024863f1503e7dcfade2b097/checks?check_suite_id=391008845)) as 7d90e9d was building.

[2020-01-21 14:29] aleccool213 commented on #249
@jpvalery may it be this error? https://github.com/gatsbyjs/gatsby/issues/15397

[2020-01-21 14:35] jpvalery commented on #249
It seems pretty old and the issue just started happening. I see that Dennis already participated in that issue so he should be aware if it's still the same thing :)

[2020-01-21 14:58] aleccool213 commented on #249
@jpvalery hmm, think you are right. I suppose thats why he started using contentful as a source for the example app and not local.

[2020-01-21 19:42] jpvalery commented on #249
As discussed at https://github.com/narative/gatsby-theme-novela/pull/254#issuecomment-576847221 - not fixed yet :(

[2020-01-21 20:03] aleccool213 commented on #249
This error has been fixed, so I agree that this ticket should be closed, BUT, a new issue should be opened to tackle the new build error.

[2020-01-21 20:12] brotzky commented on #249
Fix one bug another arises. There is no other way.

[2020-01-21 20:52] aleccool213 commented on #249
The new error is the one mentioned in https://github.com/gatsbyjs/gatsby/issues/15397.

[2020-01-22 09:18] Kevinnko opened #255 "BasePath and articlePermalinkFormat not working when source is Contentful"
**Version of Novela you are using**
0.13.2
**Number of posts you have and which data source**
(Local, Contentful options)
3 posts, all from contentful

**Describe the bug**
When the source is set to Contentful, the URL of the article looks like this: my-site.com/article-slug. The prefix and formatting set in config file are not taken into account. To compare, I tried with the local source for post

[2020-01-22 18:19] dbredvick commented on #121
Can't reproduce this on Brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit) so the title of this is a bit misleading.

Ad blockers turned onto extreme modes will always block these scripts due to Mailchimp using the same domains to serve the scripts that do popups as well as embedded forms.

I believe the responsibility lies with Mailchimp hosting their scripts at different doma

[2020-01-23 13:23] jpvalery commented on #121
@dbredvick this was blocked by Brave when we opened the issue (either this one or the one in gatsby-plugin-mailchimp).

Please check the issue linked above for the latest developments on this, the original author of the plugin is aware and working on a fix.

[2020-01-26 10:49] devanSAGA opened #257 "Not able to override Articles.Hero.tsx component"
**Version of Novela you are using**
0.13.2
**Number of posts you have and which data source**
1, Local

**Describe the bug**
I am not able to override `Articles.Hero.tsx` component using Component Shadowing.
I want to display multiple authors featured on the landing page.

As mentioned in the [Component Shadowing](https://github.com/narative/gatsby-theme-novela#component-shadowing) section, I trie

[2020-01-27 15:57] slorber opened #259 "Responsive container to make sure MDX components do not "overflow""
Hi,

My blog is supposed to run embeddable demos. For now I've made it so that all demos are max 300px width so they render correctly on any viewport size.

But I'd like to write "responsive demos" that could be larger and should fit nicely in your design.

Is there some kind of container component I can put my demos in, so that it ensures it "never overflows"?

Not sure it's really clear, but I w